openapi: 3.2.0
info:
  title: Discord HTTP API (Preview) Interactions API
  description: Preview of the Discord v10 HTTP API specification. See https://discord.com/developers/docs for more details.
  termsOfService: https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service
  license:
    name: MIT
    identifier: MIT
  version: '10'
servers:
- url: https://discord.com/api/v10
tags:
- name: Interactions
paths:
  /interactions/{interaction_id}/{interaction_token}/callback:
    parameters:
    - name: interaction_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: interaction_token
      in: path
      schema:
        type: string
        maxLength: 152133
      required: true
    post:
      operationId: create_interaction_response
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ApplicationCommandAutocompleteCallbackRequest'
              - $ref: '#/components/schemas/CreateMessageInteractionCallbackRequest'
              - $ref: '#/components/schemas/ModalInteractionCallbackRequest'
              - $ref: '#/components/schemas/PongInteractionCallbackRequest'
              - $ref: '#/components/schemas/UpdateMessageInteractionCallbackRequest'
              x-discord-union: oneOf
          application/x-www-form-urlencoded:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ApplicationCommandAutocompleteCallbackRequest'
              - $ref: '#/components/schemas/CreateMessageInteractionCallbackRequest'
              - $ref: '#/components/schemas/ModalInteractionCallbackRequest'
              - $ref: '#/components/schemas/PongInteractionCallbackRequest'
              - $ref: '#/components/schemas/UpdateMessageInteractionCallbackRequest'
              x-discord-union: oneOf
          multipart/form-data:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ApplicationCommandAutocompleteCallbackRequest'
              - $ref: '#/components/schemas/CreateMessageInteractionCallbackRequest'
              - $ref: '#/components/schemas/ModalInteractionCallbackRequest'
              - $ref: '#/components/schemas/PongInteractionCallbackRequest'
              - $ref: '#/components/schemas/UpdateMessageInteractionCallbackRequest'
              x-discord-union: oneOf
        required: true
      responses:
        '204':
          description: 204 response for create_interaction_response
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - {}
      - BotToken: []
      tags:
      - Interactions
      summary: Create interaction response
      x-summary-source: derived
components:
  schemas:
    ButtonStyleTypes:
      type: integer
      oneOf:
      - title: PRIMARY
        const: 1
      - title: SECONDARY
        const: 2
      - title: SUCCESS
        const: 3
      - title: DANGER
        const: 4
      - title: LINK
        const: 5
      - title: PREMIUM
        const: 6
      format: int32
    IncomingWebhookInteractionRequest:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          maxLength: 2000
        embeds:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RichEmbed'
          maxItems: 10
        allowed_mentions:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageAllowedMentionsRequest'
        components:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActionRow'
          maxItems: 5
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MessageAttachmentRequest'
          maxItems: 10
        tts:
          type:
          - boolean
          - 'null'
        flags:
          type:
          - integer
          - 'null'
    Emoji:
      type: object
      properties:
        id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
          maxLength: 32
        animated:
          type:
          - boolean
          - 'null'
      required:
      - name
    Button:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 2
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type:
          - string
          - 'null'
          maxLength: 100
        style:
          $ref: '#/components/schemas/ButtonStyleTypes'
        label:
          type:
          - string
          - 'null'
          maxLength: 80
        disabled:
          type:
          - boolean
          - 'null'
        emoji:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Emoji'
        url:
          type:
          - string
          - 'null'
          maxLength: 512
          format: uri
        sku_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
      required:
      - type
      - style
    SnowflakeType:
      type: string
      pattern: ^(0|[1-9][0-9]*)$
      format: snowflake
    RichEmbedField:
      type: object
      properties:
        name:
          type: string
          maxLength: 256
        value:
          type: string
          maxLength: 1024
        inline:
          type:
          - boolean
          - 'null'
      required:
      - name
      - value
    InteractionApplicationCommandAutocompleteCallbackStringData:
      type: object
      properties:
        choices:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ApplicationCommandOptionStringChoice'
          maxItems: 25
    MessageComponentTypes:
      type: integer
      oneOf:
      - title: ACTION_ROW
        description: Container for other components
        const: 1
      - title: BUTTON
        description: Button object
        const: 2
      - title: STRING_SELECT
        description: Select menu for picking from defined text options
        const: 3
      - title: INPUT_TEXT
        description: Text input object
        const: 4
      - title: USER_SELECT
        description: Select menu for users
        const: 5
      - title: ROLE_SELECT
        description: Select menu for roles
        const: 6
      - title: MENTIONABLE_SELECT
        description: Select menu for mentionables (users and roles)
        const: 7
      - title: CHANNEL_SELECT
        description: Select menu for channels
        const: 8
      format: int32
    MentionableSelect:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 7
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 150
        min_values:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 25
        max_values:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 25
        disabled:
          type:
          - boolean
          - 'null'
        default_values:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - $ref: '#/components/schemas/RoleSelectDefaultValue'
            - $ref: '#/components/schemas/UserSelectDefaultValue'
          maxItems: 25
      required:
      - type
      - custom_id
    ChannelSelectDefaultValue:
      type: object
      properties:
        type:
          type: string
          enum:
          - channel
          allOf:
          - $ref: '#/components/schemas/SnowflakeSelectDefaultValueTypes'
        id:
          $ref: '#/components/schemas/SnowflakeType'
      required:
      - type
      - id
    UserSelectDefaultValue:
      type: object
      properties:
        type:
          type: string
          enum:
          - user
          allOf:
          - $ref: '#/components/schemas/SnowflakeSelectDefaultValueTypes'
        id:
          $ref: '#/components/schemas/SnowflakeType'
      required:
      - type
      - id
    ErrorResponse:
      type: object
      description: Errors object returned by the Discord API
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          errors:
            $ref: '#/components/schemas/ErrorDetails'
    MessageAllowedMentionsRequest:
      type: object
      properties:
        parse:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/AllowedMentionTypes'
          maxItems: 1521
          uniqueItems: true
        users:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/SnowflakeType'
          maxItems: 100
          uniqueItems: true
        roles:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/SnowflakeType'
          maxItems: 100
          uniqueItems: true
        replied_user:
          type:
          - boolean
          - 'null'
    ModalInteractionCallbackRequest:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 9
          allOf:
          - $ref: '#/components/schemas/InteractionCallbackTypes'
          format: int32
        data:
          $ref: '#/components/schemas/ModalInteractionCallbackData'
      required:
      - type
      - data
    IncomingWebhookUpdateForInteractionCallbackRequestPartial:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          maxLength: 2000
        embeds:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RichEmbed'
          maxItems: 10
        allowed_mentions:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageAllowedMentionsRequest'
        components:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActionRow'
          maxItems: 5
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MessageAttachmentRequest'
          maxItems: 10
        flags:
          type:
          - integer
          - 'null'
    TextStyleTypes:
      type: integer
      oneOf:
      - title: SHORT
        description: Single-line input
        const: 1
      - title: PARAGRAPH
        description: Multi-line input
        const: 2
      format: int32
    RichEmbedAuthor:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          maxLength: 256
        url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
        icon_url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
    UserSelect:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 5
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 150
        min_values:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 25
        max_values:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 25
        disabled:
          type:
          - boolean
          - 'null'
        default_values:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UserSelectDefaultValue'
          maxItems: 25
      required:
      - type
      - custom_id
    RoleSelect:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 6
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 150
        min_values:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 25
        max_values:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 25
        disabled:
          type:
          - boolean
          - 'null'
        default_values:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RoleSelectDefaultValue'
          maxItems: 25
      required:
      - type
      - custom_id
    PongInteractionCallbackRequest:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 1
          allOf:
          - $ref: '#/components/schemas/InteractionCallbackTypes'
          format: int32
      required:
      - type
    InteractionCallbackTypes:
      type: integer
      oneOf:
      - title: PONG
        const: 1
      - title: CHANNEL_MESSAGE_WITH_SOURCE
        const: 4
      - title: DEFERRED_CHANNEL_MESSAGE_WITH_SOURCE
        const: 5
      - title: DEFERRED_UPDATE_MESSAGE
        const: 6
      - title: UPDATE_MESSAGE
        const: 7
      - title: APPLICATION_COMMAND_AUTOCOMPLETE_RESULT
        const: 8
      - title: MODAL
        const: 9
      format: int32
    ActionRow:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 1
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        components:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Button'
            - $ref: '#/components/schemas/ChannelSelect'
            - $ref: '#/components/schemas/InputText'
            - $ref: '#/components/schemas/MentionableSelect'
            - $ref: '#/components/schemas/RoleSelect'
            - $ref: '#/components/schemas/StringSelect'
            - $ref: '#/components/schemas/UserSelect'
          minItems: 1
          maxItems: 5
      required:
      - type
      - components
    CreateMessageInteractionCallbackRequest:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 4
          - 5
          allOf:
          - $ref: '#/components/schemas/InteractionCallbackTypes'
          format: int32
        data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/IncomingWebhookInteractionRequest'
      required:
      - type
    RichEmbed:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          maxLength: 152133
        url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
        title:
          type:
          - string
          - 'null'
          maxLength: 256
        color:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 16777215
        timestamp:
          type:
          - string
          - 'null'
          format: date-time
        description:
          type:
          - string
          - 'null'
          maxLength: 4096
        author:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/RichEmbedAuthor'
        image:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/RichEmbedImage'
        thumbnail:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/RichEmbedThumbnail'
        footer:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/RichEmbedFooter'
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RichEmbedField'
          maxItems: 25
        provider:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/RichEmbedProvider'
        video:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/RichEmbedVideo'
    RoleSelectDefaultValue:
      type: object
      properties:
        type:
          type: string
          enum:
          - role
          allOf:
          - $ref: '#/components/schemas/SnowflakeSelectDefaultValueTypes'
        id:
          $ref: '#/components/schemas/SnowflakeType'
      required:
      - type
      - id
    RichEmbedImage:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
        width:
          type:
          - integer
          - 'null'
        height:
          type:
          - integer
          - 'null'
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 64
        placeholder_version:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 2147483647
    SnowflakeSelectDefaultValueTypes:
      type: string
      oneOf:
      - title: USER
        const: user
      - title: ROLE
        const: role
      - title: CHANNEL
        const: channel
    RichEmbedVideo:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
        width:
          type:
          - integer
          - 'null'
        height:
          type:
          - integer
          - 'null'
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 64
        placeholder_version:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 2147483647
    RichEmbedProvider:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          maxLength: 256
        url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
    ApplicationCommandOptionStringChoice:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        name_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            minLength: 1
            maxLength: 100
          maxProperties: 34
        value:
          type: string
          maxLength: 6000
      required:
      - name
      - value
    InteractionApplicationCommandAutocompleteCallbackNumberData:
      type: object
      properties:
        choices:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ApplicationCommandOptionNumberChoice'
          maxItems: 25
    ApplicationCommandOptionIntegerChoice:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        name_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            minLength: 1
            maxLength: 100
          maxProperties: 34
        value:
          $ref: '#/components/schemas/Int53Type'
      required:
      - name
      - value
    StringSelect:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 3
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 150
        min_values:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 25
        max_values:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 25
        disabled:
          type:
          - boolean
          - 'null'
        options:
          type: array
          items:
            $ref: '#/components/schemas/SelectOption'
          minItems: 1
          maxItems: 25
      required:
      - type
      - custom_id
      - options
    InteractionApplicationCommandAutocompleteCallbackIntegerData:
      type: object
      properties:
        choices:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ApplicationCommandOptionIntegerChoice'
          maxItems: 25
    InputText:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 4
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        style:
          $ref: '#/components/schemas/TextStyleTypes'
        label:
          type: string
          maxLength: 45
        value:
          type:
          - string
          - 'null'
          maxLength: 4000
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 100
        required:
          type:
          - boolean
          - 'null'
        min_length:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 4000
        max_length:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 4000
      required:
      - type
      - custom_id
      - style
      - label
    RichEmbedThumbnail:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
        width:
          type:
          - integer
          - 'null'
        height:
          type:
          - integer
          - 'null'
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 64
        placeholder_version:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 2147483647
    RichEmbedFooter:
      type: object
      properties:
        text:
          type:
          - string
          - 'null'
          maxLength: 2048
        icon_url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
    ChannelSelect:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 8
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 150
        min_values:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 25
        max_values:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 25
        disabled:
          type:
          - boolean
          - 'null'
        default_values:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChannelSelectDefaultValue'
          maxItems: 25
        channel_types:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChannelTypes'
          uniqueItems: true
      required:
      - type
      - custom_id
    Error:
      type: object
      description: A single error, either for an API response or a specific field.
      properties:
        code:
          type: integer
          description: Discord internal error code. See error code reference
        message:
          type: string
          description: Human-readable error message
      required:
      - code
      - message
    InnerErrors:
      type: object
      properties:
        _errors:
          type: array
          description: The list of errors for this field
          items:
            $ref: '#/components/schemas/Error'
      additionalProperties: false
      required:
      - _errors
    ErrorDetails:
      oneOf:
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/ErrorDetails'
      - $ref: '#/components/schemas/InnerErrors'
    Int53Type:
      type: integer
      minimum: -9007199254740991
      maximum: 9007199254740991
      format: int64
    MessageAttachmentRequest:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        filename:
          type:
          - string
          - 'null'
          maxLength: 1024
        description:
          type:
          - string
          - 'null'
          maxLength: 1024
        is_remix:
          type:
          - boolean
          - 'null'
      required:
      - id
    UpdateMessageInteractionCallbackRequest:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 6
          - 7
          allOf:
          - $ref: '#/components/schemas/InteractionCallbackTypes'
          format: int32
        data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/IncomingWebhookUpdateForInteractionCallbackRequestPartial'
      required:
      - type
    ModalInteractionCallbackData:
      type: object
      properties:
        custom_id:
          type: string
          maxLength: 100
        title:
          type: string
          maxLength: 45
        components:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/ActionRow'
            - $ref: '#/components/schemas/InputText'
          minItems: 1
          maxItems: 5
      required:
      - custom_id
      - title
      - components
    AllowedMentionTypes:
      type: string
      oneOf:
      - title: USERS
        description: Controls role mentions
        const: users
      - title: ROLES
        description: Controls user mentions
        const: roles
      - title: EVERYONE
        description: Controls @everyone and @here mentions
        const: everyone
    ChannelTypes:
      type: integer
      oneOf:
      - title: DM
        description: A direct message between users
        const: 1
      - title: GROUP_DM
        description: A direct message between multiple users
        const: 3
      - title: GUILD_TEXT
        description: A text channel within a server
        const: 0
      - title: GUILD_VOICE
        description: A voice channel within a server
        const: 2
      - title: GUILD_CATEGORY
        description: An organizational category that contains up to 50 channels
        const: 4
      - title: GUILD_ANNOUNCEMENT
        description: A channel that users can follow and crosspost into their own server (formerly news channels)
        const: 5
      - title: ANNOUNCEMENT_THREAD
        description: A temporary sub-channel within a GUILD_ANNOUNCEMENT channel
        const: 10
      - title: PUBLIC_THREAD
        description: A temporary sub-channel within a GUILD_TEXT or GUILD_THREADS_ONLY channel type set
        const: 11
      - title: PRIVATE_THREAD
        description: A temporary sub-channel within a GUILD_TEXT channel that is only viewable by those invited and those with the MANAGE_THREADS permission
        const: 12
      - title: GUILD_STAGE_VOICE
        description: A voice channel for hosting events with an audience
        const: 13
      - title: GUILD_DIRECTORY
        description: The channel in a hub containing the listed servers
        const: 14
      - title: GUILD_FORUM
        description: Channel that can only contain threads
        const: 15
      format: int32
    ApplicationCommandOptionNumberChoice:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        name_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            minLength: 1
            maxLength: 100
          maxProperties: 34
        value:
          type: number
          format: double
      required:
      - name
      - value
    SelectOption:
      type: object
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 100
        value:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 100
        emoji:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Emoji'
        default:
          type:
          - boolean
          - 'null'
      required:
      - label
      - value
    ApplicationCommandAutocompleteCallbackRequest:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 8
          allOf:
          - $ref: '#/components/schemas/InteractionCallbackTypes'
          format: int32
        data:
          anyOf:
          - $ref: '#/components/schemas/InteractionApplicationCommandAutocompleteCallbackIntegerData'
          - $ref: '#/components/schemas/InteractionApplicationCommandAutocompleteCallbackNumberData'
          - $ref: '#/components/schemas/InteractionApplicationCommandAutocompleteCallbackStringData'
          x-discord-union: oneOf
      required:
      - type
      - data
  responses:
    ClientErrorResponse:
      description: Client error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    BotToken:
      type: apiKey
      description: Discord bot token
      name: Authorization
      in: header
    OAuth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: discord.com/oauth2/authorize
          refreshUrl: https://discord.com/api/oauth2/token
          scopes:
            activities.read: allows your app to fetch data from a user's "Now Playing/Recently Played" list - requires Discord approval
            activities.write: allows your app to update a user's activity - requires Discord approval (NOT REQUIRED FOR GAMESDK ACTIVITY MANAGER)
            applications.builds.read: allows your app to read build data for a user's applications
            applications.builds.upload: allows your app to upload/update builds for a user's applications - requires Discord approval
            applications.commands: allows your app to use commands in a guild
            applications.commands.permissions.update: allows your app to update permissions for its commands in a guild a user has permissions to
            applications.entitlements: allows your app to read entitlements for a user's applications
            applications.store.update: allows your app to read and update store data (SKUs, store listings, achievements, etc.) for a user's applications
            bot: for oauth2 bots, this puts the bot in the user's selected guild by default
            connections: allows /users/@me/connections to return linked third-party accounts
            dm_channels.read: allows your app to see information about the user's DMs and group DMs - requires Discord approval
            email: enables /users/@me to return an email
            gdm.join: allows your app to join users to a group dm
            guilds: allows /users/@me/guilds to return basic information about all of a user's guilds
            guilds.join: allows /guilds/{guild.id}/members/{user.id} to be used for joining users to a guild
            guilds.members.read: allows /users/@me/guilds/{guild.id}/member to return a user's member information in a guild
            identify: allows /users/@me without email
            messages.read: for local rpc server api access, this allows you to read messages from all client channels (otherwise restricted to channels/guilds your app creates)
            openid: for OpenID Connect, this allows your app to receive user id and basic profile information
            relationships.read: allows your app to know a user's friends and implicit relationships - requires Discord approval
            rpc: for local rpc server access, this allows you to control a user's local Discord client - requires Discord approval
            rpc.activities.write: for local rpc server access, this allows you to update a user's activity - requires Discord approval
            rpc.notifications.read: for local rpc server access, this allows you to receive notifications pushed out to the user - requires Discord approval
            rpc.screenshare.read: for local rpc server access, this allows you to read a user's screenshare status- requires Discord approval
            rpc.screenshare.write: for local rpc server access, this allows you to update a user's screenshare settings- requires Discord approval
            rpc.video.read: for local rpc server access, this allows you to read a user's video status - requires Discord approval
            rpc.video.write: for local rpc server access, this allows you to update a user's video settings - requires Discord approval
            rpc.voice.read: for local rpc server access, this allows you to read a user's voice settings and listen for voice events - requires Discord approval
            rpc.voice.write: for local rpc server access, this allows you to update a user's voice settings - requires Discord approval
            voice: allows your app to connect to voice on user's behalf and see all the voice members - requires Discord approval
            webhook.incoming: this generates a webhook that is returned in the oauth token response for authorization code grants
        clientCredentials:
          tokenUrl: https://discord.com/api/oauth2/token
          refreshUrl: https://discord.com/api/oauth2/token
          scopes:
            activities.read: allows your app to fetch data from a user's "Now Playing/Recently Played" list - requires Discord approval
            activities.write: allows your app to update a user's activity - requires Discord approval (NOT REQUIRED FOR GAMESDK ACTIVITY MANAGER)
            applications.builds.read: allows your app to read build data for a user's applications
            applications.builds.upload: allows your app to upload/update builds for a user's applications - requires Discord approval
            applications.commands: allows your app to use commands in a guild
            applications.commands.permissions.update: allows your app to update permissions for its commands in a guild a user has permissions to
            applications.commands.update: allows your app to update its commands using a Bearer token - client credentials grant only
            applications.entitlements: allows your app to read entitlements for a user's applications
            applications.store.update: allows your app to read and update store data (SKUs, store listings, achievements, etc.) for a user's applications
            bot: for oauth2 bots, this puts the bot in the user's selected guild by default
            connections: allows /users/@me/connections to return linked third-party accounts
            dm_channels.read: allows your app to see information about the user's DMs and group DMs - requires Discord approval
            email: enables /users/@me to return an email
            gdm.join: allows your app to join users to a group dm
            guilds: allows /users/@me/guilds to return basic information about all of a user's guilds
            guilds.join: allows /guilds/{guild.id}/members/{user.id} to be used for joining users to a guild
            guilds.members.read: allows /users/@me/guilds/{guild.id}/member to return a user's member information in a guild
            identify: allows /users/@me without email
            messages.read: for local rpc server api access, this allows you to read messages from all client channels (otherwise restricted to channels/guilds your app creates)
            openid: for OpenID Connect, this allows your app to receive user id and basic profile information
            relationships.read: allows your app to know a user's friends and implicit relationships - requires Discord approval
            rpc: for local rpc server access, this allows you to control a user's local Discord client - requires Discord approval
            rpc.activities.write: for local rpc server access, this allows you to update a user's activity - requires Discord approval
            rpc.notifications.read: for local rpc server access, this allows you to receive notifications pushed out to the user - requires Discord approval
            rpc.screenshare.read: for local rpc server access, this allows you to read a user's screenshare status- requires Discord approval
            rpc.screenshare.write: for local rpc server access, this allows you to update a user's screenshare settings- requires Discord approval
            rpc.video.read: for local rpc server access, this allows you to read a user's video status - requires Discord approval
            rpc.video.write: for local rpc server access, this allows you to update a user's video settings - requires Discord approval
            rpc.voice.read: for local rpc server access, this allows you to read a user's voice settings and listen for voice events - requires Discord approval
            rpc.voice.write: for local rpc server access, this allows you to update a user's voice settings - requires Discord approval
            voice: allows your app to connect to voice on user's behalf and see all the voice members - requires Discord approval
            webhook.incoming: this generates a webhook that is returned in the oauth token response for authorization code grants
        authorizationCode:
          authorizationUrl: discord.com/oauth2/authorize
          tokenUrl: https://discord.com/api/oauth2/token
          refreshUrl: https://discord.com/api/oauth2/token
          scopes:
            activities.read: allows your app to fetch data from a user's "Now Playing/Recently Played" list - requires Discord approval
            activities.write: allows your app to update a user's activity - requires Discord approval (NOT REQUIRED FOR GAMESDK ACTIVITY MANAGER)
            applications.builds.read: allows your app to read build data for a user's applications
            applications.builds.upload: allows your app to upload/update builds for a user's applications - requires Discord approval
            applications.commands: allows your app to use commands in a guild
            applications.commands.permissions.update: allows your app to update permissions for its commands in a guild a user has permissions to
            applications.entitlements: allows your app to read entitlements for a user's applications
            applications.store.update: allows your app to read and update store data (SKUs, store listings, achievements, etc.) for a user's applications
            bot: for oauth2 bots, this puts the bot in the user's selected guild by default
            connections: allows /users/@me/connections to return linked third-party accounts
            dm_channels.read: allows your app to see information about the user's DMs and group DMs - requires Discord approval
            email: enables /users/@me to return an email
            gdm.join: allows your app to join users to a group dm
            guilds: allows /users/@me/guilds to return basic information about all of a user's guilds
            guilds.join: allows /guilds/{guild.id}/members/{user.id} to be used for joining users to a guild
            guilds.members.read: allows /users/@me/guilds/{guild.id}/member to return a user's member information in a guild
            identify: allows /users/@me without email
            messages.read: for local rpc server api access, this allows you to read messages from all client channels (otherwise restricted to channels/guilds your app creates)
            openid: for OpenID Connect, this allows your app to receive user id and basic profile information
            relationships.read: allows your app to know a user's friends and implicit relationships - requires Discord approval
            role_connections.write: allows your app to update a user's connection and metadata for the app
            rpc: for local rpc server access, this allows you to control a user's local Discord client - requires Discord approval
            rpc.activities.write: for local rpc server access, this allows you to update a user's activity - requires Discord approval
            rpc.notifications.read: for local rpc server access, this allows you to receive notifications pushed out to the user - requires Discord approval
            rpc.screenshare.read: for local rpc server access, this allows you to read a user's screenshare status- requires Discord approval
            rpc.screenshare.write: for local rpc server access, this allows you to update a user's screenshare settings- requires Discord approval
            rpc.video.read: for local rpc server access, this allows you to read a user's video status - requires Discord approval
            rpc.video.write: for local rpc server access, this allows you to update a user's video settings - requires Discord approval
            rpc.voice.read: for local rpc server access, this allows you to read a user's voice settings and listen for voice events - requires Discord approval
            rpc.voice.write: for local rpc server access, this allows you to update a user's voice settings - requires Discord approval
            voice: allows your app to connect to voice on user's behalf and see all the voice members - requires Discord approval
            webhook.incoming: this generates a webhook that is returned in the oauth token response for authorization code grants
externalDocs:
  url: https://discord.com/developers/docs
  description: Discord Developer Documentation
