openapi: 3.2.0
info:
  title: Discord Interactions Application Commands Interaction……
  description: The Discord Interactions API enables applications to create and respond to application commands (slash commands), message components, and modals. It supports both Gateway-based and webhook-based interaction handling, allowing bots to build rich, interactive user experiences within Discord.
  version: '10'
  contact:
    name: Discord Support
    url: https://support-dev.discord.com/hc/en-us
    email: support@discord.com
  termsOfService: https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service
servers:
- url: https://discord.com/api/v10
  description: Discord API v10
security:
- BotToken: []
tags:
- name: Interaction Responses
  description: Respond to interactions received from Discord
paths:
  /webhooks/{application_id}/{interaction_token}/messages/@original:
    get:
      operationId: getOriginalInteractionResponse
      summary: Discord Get original interaction response
      description: Returns the initial Interaction response.
      tags:
      - Interaction Responses
      security: []
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - name: interaction_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Message object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        4XX:
          $ref: '#/components/responses/ClientError'
    patch:
      operationId: editOriginalInteractionResponse
      summary: Discord Edit original interaction response
      description: Edits the initial Interaction response.
      tags:
      - Interaction Responses
      security: []
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - name: interaction_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMessageRequest'
      responses:
        '200':
          description: Updated message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        4XX:
          $ref: '#/components/responses/ClientError'
    delete:
      operationId: deleteOriginalInteractionResponse
      summary: Discord Delete original interaction response
      description: Deletes the initial Interaction response.
      tags:
      - Interaction Responses
      security: []
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - name: interaction_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Response deleted
        4XX:
          $ref: '#/components/responses/ClientError'
  /webhooks/{application_id}/{interaction_token}:
    post:
      operationId: createFollowupMessage
      summary: Discord Create followup message
      description: Create a followup message for an Interaction.
      tags:
      - Interaction Responses
      security: []
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - name: interaction_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
      responses:
        '200':
          description: Followup message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        4XX:
          $ref: '#/components/responses/ClientError'
  /webhooks/{application_id}/{interaction_token}/messages/{message_id}:
    get:
      operationId: getFollowupMessage
      summary: Discord Get followup message
      description: Returns a followup message for an Interaction.
      tags:
      - Interaction Responses
      security: []
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - name: interaction_token
        in: path
        required: true
        schema:
          type: string
      - name: message_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Message object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        4XX:
          $ref: '#/components/responses/ClientError'
    patch:
      operationId: editFollowupMessage
      summary: Discord Edit followup message
      description: Edits a followup message for an Interaction.
      tags:
      - Interaction Responses
      security: []
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - name: interaction_token
        in: path
        required: true
        schema:
          type: string
      - name: message_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMessageRequest'
      responses:
        '200':
          description: Updated message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        4XX:
          $ref: '#/components/responses/ClientError'
    delete:
      operationId: deleteFollowupMessage
      summary: Discord Delete followup message
      description: Deletes a followup message for an Interaction.
      tags:
      - Interaction Responses
      security: []
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - name: interaction_token
        in: path
        required: true
        schema:
          type: string
      - name: message_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Message deleted
        4XX:
          $ref: '#/components/responses/ClientError'
components:
  schemas:
    Embed:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        color:
          type: integer
        fields:
          type: array
          items:
            type: object
            required:
            - name
            - value
            properties:
              name:
                type: string
              value:
                type: string
              inline:
                type: boolean
    Snowflake:
      type: string
      pattern: ^[0-9]+$
    Message:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Snowflake'
        channel_id:
          $ref: '#/components/schemas/Snowflake'
        content:
          type: string
        timestamp:
          type: string
          format: date-time
        flags:
          type: integer
    EditMessageRequest:
      type: object
      properties:
        content:
          type: string
          nullable: true
          maxLength: 2000
        embeds:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/Embed'
          maxItems: 10
        components:
          type: array
          nullable: true
          items:
            type: object
    CreateMessageRequest:
      type: object
      properties:
        content:
          type: string
          maxLength: 2000
        embeds:
          type: array
          items:
            $ref: '#/components/schemas/Embed'
          maxItems: 10
        flags:
          type: integer
        components:
          type: array
          items:
            type: object
  parameters:
    applicationId:
      name: application_id
      in: path
      required: true
      schema:
        type: string
      description: The ID of the application
  responses:
    ClientError:
      description: Client error response
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
  securitySchemes:
    BotToken:
      type: http
      scheme: bearer
      description: Bot token authentication
externalDocs:
  description: Discord Interactions Documentation
  url: https://discord.com/developers/docs/interactions/overview
