openapi: 3.1.0
info:
  title: Discord Interactions Application Commands Channels API
  description: The Discord Interactions API enables applications to create and respond to application commands (slash commands), message components, and modals. It supports both Gateway-based and webhook-based interaction handling, allowing bots to build rich, interactive user experiences within Discord.
  version: '10'
  contact:
    name: Discord Support
    url: https://support-dev.discord.com/hc/en-us
    email: support@discord.com
  termsOfService: https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service
servers:
- url: https://discord.com/api/v10
  description: Discord API v10
security:
- BotToken: []
tags:
- name: Channels
paths:
  /channels/{channel_id}/users/@me/threads/archived/private:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_my_private_archived_threads
      parameters:
      - name: before
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 2
          maximum: 100
      responses:
        '200':
          description: 200 response for list_my_private_archived_threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}/@me:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: message_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: emoji_name
      in: path
      schema:
        type: string
        maxLength: 152133
      required: true
    put:
      operationId: add_my_message_reaction
      responses:
        '204':
          description: 204 response for add_my_message_reaction
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: delete_my_message_reaction
      responses:
        '204':
          description: 204 response for delete_my_message_reaction
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/threads/archived/private:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_private_archived_threads
      parameters:
      - name: before
        in: query
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 2
          maximum: 100
      responses:
        '200':
          description: 200 response for list_private_archived_threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/threads/archived/public:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_public_archived_threads
      parameters:
      - name: before
        in: query
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 2
          maximum: 100
      responses:
        '200':
          description: 200 response for list_public_archived_threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/thread-members/@me:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    put:
      operationId: join_thread
      responses:
        '204':
          description: 204 response for join_thread
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: leave_thread
      responses:
        '204':
          description: 204 response for leave_thread
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages/bulk-delete:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    post:
      operationId: bulk_delete_messages
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messages:
                  type: array
                  items:
                    $ref: '#/components/schemas/SnowflakeType'
                  minItems: 2
                  maxItems: 100
                  uniqueItems: true
              required:
              - messages
        required: true
      responses:
        '204':
          description: 204 response for bulk_delete_messages
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}/{user_id}:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: message_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: emoji_name
      in: path
      schema:
        type: string
        maxLength: 152133
      required: true
    - name: user_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    delete:
      operationId: delete_user_message_reaction
      responses:
        '204':
          description: 204 response for delete_user_message_reaction
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: message_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: emoji_name
      in: path
      schema:
        type: string
        maxLength: 152133
      required: true
    get:
      operationId: list_message_reactions_by_emoji
      parameters:
      - name: after
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 200 response for list_message_reactions_by_emoji
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: delete_all_message_reactions_by_emoji
      responses:
        '204':
          description: 204 response for delete_all_message_reactions_by_emoji
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages/{message_id}/reactions:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: message_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    delete:
      operationId: delete_all_message_reactions
      responses:
        '204':
          description: 204 response for delete_all_message_reactions
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages/{message_id}/crosspost:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: message_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    post:
      operationId: crosspost_message
      responses:
        '200':
          description: 200 response for crosspost_message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages/{message_id}/threads:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: message_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    post:
      operationId: create_thread_from_message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTextThreadWithMessageRequest'
        required: true
      responses:
        '201':
          description: 201 response for create_thread_from_message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/thread-members/{user_id}:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: user_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_thread_member
      parameters:
      - name: with_member
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: 200 response for get_thread_member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadMemberResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    put:
      operationId: add_thread_member
      responses:
        '204':
          description: 204 response for add_thread_member
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: delete_thread_member
      responses:
        '204':
          description: 204 response for delete_thread_member
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/thread-members:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_thread_members
      parameters:
      - name: with_member
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: after
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      responses:
        '200':
          description: 200 response for list_thread_members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThreadMemberResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/permissions/{overwrite_id}:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: overwrite_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    put:
      operationId: set_channel_permission_overwrite
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/ChannelPermissionOverwrites'
                allow:
                  type:
                  - integer
                  - 'null'
                deny:
                  type:
                  - integer
                  - 'null'
        required: true
      responses:
        '204':
          description: 204 response for set_channel_permission_overwrite
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: delete_channel_permission_overwrite
      responses:
        '204':
          description: 204 response for delete_channel_permission_overwrite
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/recipients/{user_id}:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: user_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    put:
      operationId: add_group_dm_user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type:
                  - string
                  - 'null'
                  maxLength: 152133
                nick:
                  type:
                  - string
                  - 'null'
                  maxLength: 152133
        required: true
      responses:
        '201':
          description: 201 response for add_group_dm_user
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PrivateChannelResponse'
                - $ref: '#/components/schemas/PrivateGroupChannelResponse'
        '204':
          description: 204 response for add_group_dm_user
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: delete_group_dm_user
      responses:
        '204':
          description: 204 response for delete_group_dm_user
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/followers:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    post:
      operationId: follow_channel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_channel_id:
                  $ref: '#/components/schemas/SnowflakeType'
              required:
              - webhook_channel_id
        required: true
      responses:
        '200':
          description: 200 response for follow_channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelFollowerResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages/{message_id}:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: message_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_message
      responses:
        '200':
          description: 200 response for get_message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: delete_message
      responses:
        '204':
          description: 204 response for delete_message
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    patch:
      operationId: update_message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageEditRequestPartial'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MessageEditRequestPartial'
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/MessageEditRequestPartial'
              - type: object
                properties:
                  files[0]:
                    type: string
                    contentEncoding: binary
                  files[1]:
                    type: string
                    contentEncoding: binary
                  files[2]:
                    type: string
                    contentEncoding: binary
                  files[3]:
                    type: string
                    contentEncoding: binary
                  files[4]:
                    type: string
                    contentEncoding: binary
                  files[5]:
                    type: string
                    contentEncoding: binary
                  files[6]:
                    type: string
                    contentEncoding: binary
                  files[7]:
                    type: string
                    contentEncoding: binary
                  files[8]:
                    type: string
                    contentEncoding: binary
                  files[9]:
                    type: string
                    contentEncoding: binary
        required: true
      responses:
        '200':
          description: 200 response for update_message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/messages:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_messages
      parameters:
      - name: around
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: before
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: after
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 200 response for list_messages
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  $ref: '#/components/schemas/MessageResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    post:
      operationId: create_message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/MessageCreateRequest'
              - type: object
                properties:
                  files[0]:
                    type: string
                    contentEncoding: binary
                  files[1]:
                    type: string
                    contentEncoding: binary
                  files[2]:
                    type: string
                    contentEncoding: binary
                  files[3]:
                    type: string
                    contentEncoding: binary
                  files[4]:
                    type: string
                    contentEncoding: binary
                  files[5]:
                    type: string
                    contentEncoding: binary
                  files[6]:
                    type: string
                    contentEncoding: binary
                  files[7]:
                    type: string
                    contentEncoding: binary
                  files[8]:
                    type: string
                    contentEncoding: binary
                  files[9]:
                    type: string
                    contentEncoding: binary
        required: true
      responses:
        '200':
          description: 200 response for create_message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/webhooks:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_channel_webhooks
      responses:
        '200':
          description: 200 response for list_channel_webhooks
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  oneOf:
                  - $ref: '#/components/schemas/ApplicationIncomingWebhookResponse'
                  - $ref: '#/components/schemas/ChannelFollowerWebhookResponse'
                  - $ref: '#/components/schemas/GuildIncomingWebhookResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    post:
      operationId: create_webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 80
                avatar:
                  type:
                  - string
                  - 'null'
                  contentEncoding: base64
              required:
              - name
        required: true
      responses:
        '200':
          description: 200 response for create_webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildIncomingWebhookResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/invites:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_channel_invites
      responses:
        '200':
          description: 200 response for list_channel_invites
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  anyOf:
                  - $ref: '#/components/schemas/FriendInviteResponse'
                  - $ref: '#/components/schemas/GroupDMInviteResponse'
                  - $ref: '#/components/schemas/GuildInviteResponse'
                  x-discord-union: oneOf
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    post:
      operationId: create_channel_invite
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/CreateGroupDMInviteRequest'
              - $ref: '#/components/schemas/CreateGuildInviteRequest'
              x-discord-union: oneOf
        required: true
      responses:
        '200':
          description: 200 response for create_channel_invite
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/FriendInviteResponse'
                - $ref: '#/components/schemas/GroupDMInviteResponse'
                - $ref: '#/components/schemas/GuildInviteResponse'
                x-discord-union: oneOf
        '204':
          description: 204 response for create_channel_invite
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/threads:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    post:
      operationId: create_thread
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/CreateForumThreadRequest'
              - $ref: '#/components/schemas/CreateTextThreadWithoutMessageRequest'
              x-discord-union: oneOf
          application/x-www-form-urlencoded:
            schema:
              anyOf:
              - $ref: '#/components/schemas/CreateForumThreadRequest'
              - $ref: '#/components/schemas/CreateTextThreadWithoutMessageRequest'
              x-discord-union: oneOf
          multipart/form-data:
            schema:
              anyOf:
              - $ref: '#/components/schemas/CreateForumThreadRequest'
              - $ref: '#/components/schemas/CreateTextThreadWithoutMessageRequest'
              x-discord-union: oneOf
        required: true
      responses:
        '201':
          description: 201 response for create_thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedThreadResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/typing:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    post:
      operationId: trigger_typing_indicator
      responses:
        '200':
          description: 200 response for trigger_typing_indicator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypingIndicatorResponse'
        '204':
          description: 204 response for trigger_typing_indicator
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/pins/{message_id}:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: message_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    put:
      operationId: pin_message
      responses:
        '204':
          description: 204 response for pin_message
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: unpin_message
      responses:
        '204':
          description: 204 response for unpin_message
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}/pins:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_pinned_messages
      responses:
        '200':
          description: 200 response for list_pinned_messages
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  $ref: '#/components/schemas/MessageResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /channels/{channel_id}:
    parameters:
    - name: channel_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_channel
      responses:
        '200':
          description: 200 response for get_channel
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/GuildChannelResponse'
                - $ref: '#/components/schemas/PrivateChannelResponse'
                - $ref: '#/components/schemas/PrivateGroupChannelResponse'
                - $ref: '#/components/schemas/ThreadResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    delete:
      operationId: delete_channel
      responses:
        '200':
          description: 200 response for delete_channel
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/GuildChannelResponse'
                - $ref: '#/components/schemas/PrivateChannelResponse'
                - $ref: '#/components/schemas/PrivateGroupChannelResponse'
                - $ref: '#/components/schemas/ThreadResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
    patch:
      operationId: update_channel
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/PrivateChannelRequestPartial'
              - $ref: '#/components/schemas/UpdateGuildChannelRequestPartial'
              - $ref: '#/components/schemas/UpdateThreadRequestPartial'
              x-discord-union: oneOf
        required: true
      responses:
        '200':
          description: 200 response for update_channel
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/GuildChannelResponse'
                - $ref: '#/components/schemas/PrivateChannelResponse'
                - $ref: '#/components/schemas/PrivateGroupChannelResponse'
                - $ref: '#/components/schemas/ThreadResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Channels
  /guilds/{guild_id}/channels:
    get:
      operationId: getGuildChannels
      summary: Discord List guild channels
      description: Returns a list of guild channel objects.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/guildId'
      responses:
        '200':
          description: List of channel objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Channel'
        4XX:
          $ref: '#/components/responses/ClientError'
    post:
      operationId: createGuildChannel
      summary: Discord Create guild channel
      description: Create a new channel object for the guild.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/guildId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        4XX:
          $ref: '#/components/responses/ClientError'
components:
  schemas:
    MessageReactionCountDetailsResponse:
      type: object
      properties:
        burst:
          type: integer
          format: int32
        normal:
          type: integer
          format: int32
      required:
      - burst
      - normal
    Int53Type:
      type: integer
      minimum: -9007199254740991
      maximum: 9007199254740991
      format: int64
    ApplicationTypes:
      type: integer
      oneOf:
      - title: GUILD_ROLE_SUBSCRIPTIONS
        const: 4
      format: int32
    ChannelFollowerResponse:
      type: object
      properties:
        channel_id:
          $ref: '#/components/schemas/SnowflakeType'
        webhook_id:
          $ref: '#/components/schemas/SnowflakeType'
      required:
      - channel_id
      - webhook_id
    MessageRoleSubscriptionDataResponse:
      type: object
      properties:
        role_subscription_listing_id:
          $ref: '#/components/schemas/SnowflakeType'
        tier_name:
          type: string
        total_months_subscribed:
          type: integer
          format: int32
        is_renewal:
          type: boolean
      required:
      - role_subscription_listing_id
      - tier_name
      - total_months_subscribed
      - is_renewal
    InputText:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 4
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        style:
          $ref: '#/components/schemas/TextStyleTypes'
        label:
          type: string
          maxLength: 45
        value:
          type:
          - string
          - 'null'
          maxLength: 4000
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 100
        required:
          type:
          - boolean
          - 'null'
        min_length:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 4000
        max_length:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 4000
      required:
      - type
      - custom_id
      - style
      - label
    ChannelSelectDefaultValue:
      type: object
      properties:
        type:
          type: string
          enum:
          - channel
          allOf:
          - $ref: '#/components/schemas/SnowflakeSelectDefaultValueTypes'
        id:
          $ref: '#/components/schemas/SnowflakeType'
      required:
      - type
      - id
    StringSelect:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 3
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 150
        min_values:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 25
        max_values:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 25
        disabled:
          type:
          - boolean
          - 'null'
        options:
          type: array
          items:
            $ref: '#/components/schemas/SelectOption'
          minItems: 1
          maxItems: 25
      required:
      - type
      - custom_id
      - options
    ApplicationResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        icon:
          type:
          - string
          - 'null'
        description:
          type: string
        type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ApplicationTypes'
        cover_image:
          type:
          - string
          - 'null'
        primary_sku_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        bot:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        slug:
          type:
          - string
          - 'null'
        guild_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        rpc_origins:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        bot_public:
          type:
          - boolean
          - 'null'
        bot_require_code_grant:
          type:
          - boolean
          - 'null'
        terms_of_service_url:
          type:
          - string
          - 'null'
          format: uri
        privacy_policy_url:
          type:
          - string
          - 'null'
          format: uri
        custom_install_url:
          type:
          - string
          - 'null'
          format: uri
        install_params:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ApplicationOAuth2InstallParamsResponse'
        verify_key:
          type: string
        flags:
          type: integer
          format: int32
        max_participants:
          type:
          - integer
          - 'null'
          format: int32
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
          uniqueItems: true
      required:
      - id
      - name
      - description
      - verify_key
      - flags
    ChannelFollowerWebhookResponse:
      type: object
      properties:
        application_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        avatar:
          type:
          - string
          - 'null'
        channel_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        guild_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        type:
          type: integer
          enum:
          - 2
          allOf:
          - $ref: '#/components/schemas/WebhookTypes'
          format: int32
        user:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        source_guild:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WebhookSourceGuildResponse'
        source_channel:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WebhookSourceChannelResponse'
      required:
      - id
      - name
      - type
    Button:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 2
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type:
          - string
          - 'null'
          maxLength: 100
        style:
          $ref: '#/components/schemas/ButtonStyleTypes'
        label:
          type:
          - string
          - 'null'
          maxLength: 80
        disabled:
          type:
          - boolean
          - 'null'
        emoji:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Emoji'
        url:
          type:
          - string
          - 'null'
          maxLength: 512
          format: uri
        sku_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
      required:
      - type
      - style
    MessageComponentRoleSelectResponse:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 6
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        id:
          $ref: '#/components/schemas/SnowflakeType'
        custom_id:
          type: string
        placeholder:
          type:
          - string
          - 'null'
        min_values:
          type:
          - integer
          - 'null'
          format: int32
        max_values:
          type:
          - integer
          - 'null'
          format: int32
        disabled:
          type:
          - boolean
          - 'null'
      required:
      - type
      - id
      - custom_id
    RichEmbedVideo:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
        width:
          type:
          - integer
          - 'null'
        height:
          type:
          - integer
          - 'null'
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 64
        placeholder_version:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 2147483647
    StickerFormatTypes:
      type: integer
      oneOf:
      - title: PNG
        const: 1
      - title: APNG
        const: 2
      - title: LOTTIE
        const: 3
      - title: GIF
        const: 4
      format: int32
    ChannelPermissionOverwriteRequest:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ChannelPermissionOverwrites'
        allow:
          type:
          - integer
          - 'null'
        deny:
          type:
          - integer
          - 'null'
      required:
      - id
    InviteApplicationResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        icon:
          type:
          - string
          - 'null'
        description:
          type: string
        type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ApplicationTypes'
        cover_image:
          type:
          - string
          - 'null'
        primary_sku_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        bot:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        slug:
          type:
          - string
          - 'null'
        guild_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        rpc_origins:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        bot_public:
          type:
          - boolean
          - 'null'
        bot_require_code_grant:
          type:
          - boolean
          - 'null'
        terms_of_service_url:
          type:
          - string
          - 'null'
          format: uri
        privacy_policy_url:
          type:
          - string
          - 'null'
          format: uri
        custom_install_url:
          type:
          - string
          - 'null'
          format: uri
        install_params:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ApplicationOAuth2InstallParamsResponse'
        verify_key:
          type: string
        flags:
          type: integer
          format: int32
        max_participants:
          type:
          - integer
          - 'null'
          format: int32
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
          uniqueItems: true
      required:
      - id
      - name
      - description
      - verify_key
      - flags
    MessageEmbedVideoResponse:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
        proxy_url:
          type:
          - string
          - 'null'
          format: uri
        width:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UInt32Type'
        height:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UInt32Type'
        placeholder:
          type:
          - string
          - 'null'
        placeholder_version:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UInt32Type'
    MessageEditRequestPartial:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          maxLength: 4000
        embeds:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RichEmbed'
          maxItems: 10
        flags:
          type:
          - integer
          - 'null'
        allowed_mentions:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageAllowedMentionsRequest'
        sticker_ids:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          maxItems: 1521
        components:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActionRow'
          maxItems: 5
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MessageAttachmentRequest'
          maxItems: 10
    MessageCreateRequest:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          maxLength: 4000
        embeds:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RichEmbed'
          maxItems: 10
        allowed_mentions:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageAllowedMentionsRequest'
        sticker_ids:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          maxItems: 3
        components:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActionRow'
          maxItems: 5
        flags:
          type:
          - integer
          - 'null'
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MessageAttachmentRequest'
          maxItems: 10
        message_reference:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageReferenceRequest'
        nonce:
          oneOf:
          - type: integer
            minimum: -9223372036854776000
            maximum: 9223372036854776000
            format: int64
          - type: string
            maxLength: 25
            format: nonce
          - type: 'null'
        tts:
          type:
          - boolean
          - 'null'
    ThreadMetadataResponse:
      type: object
      properties:
        archived:
          type: boolean
        archive_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        auto_archive_duration:
          $ref: '#/components/schemas/ThreadAutoArchiveDuration'
        locked:
          type: boolean
        create_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        invitable:
          type:
          - boolean
          - 'null'
      required:
      - archived
      - auto_archive_duration
      - locked
    Overwrite:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Snowflake'
        type:
          type: integer
          description: 0=role, 1=member
        allow:
          type: string
        deny:
          type: string
    CreateChannelRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        type:
          type: integer
        topic:
          type: string
          maxLength: 1024
        bitrate:
          type: integer
        user_limit:
          type: integer
        rate_limit_per_user:
          type: integer
        position:
          type: integer
        permission_overwrites:
          type: array
          items:
            $ref: '#/components/schemas/Overwrite'
        parent_id:
          $ref: '#/components/schemas/Snowflake'
        nsfw:
          type: boolean
        rtc_region:
          type: string
          nullable: true
        video_quality_mode:
          type: integer
        default_auto_archive_duration:
          type: integer
    GroupDMInviteResponse:
      type: object
      properties:
        type:
          oneOf:
          - type: 'null'
          - type: integer
            enum:
            - 1
            allOf:
            - $ref: '#/components/schemas/InviteTypes'
            format: int32
        code:
          type: string
        inviter:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        max_age:
          type:
          - integer
          - 'null'
          format: int32
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
        channel:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InviteChannelResponse'
        approximate_member_count:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - code
    Channel:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Snowflake'
        type:
          type: integer
          description: 0=GUILD_TEXT, 1=DM, 2=GUILD_VOICE, 3=GROUP_DM, 4=GUILD_CATEGORY, 5=GUILD_ANNOUNCEMENT, 10=ANNOUNCEMENT_THREAD, 11=PUBLIC_THREAD, 12=PRIVATE_THREAD, 13=GUILD_STAGE_VOICE, 14=GUILD_DIRECTORY, 15=GUILD_FORUM, 16=GUILD_MEDIA
        guild_id:
          $ref: '#/components/schemas/Snowflake'
        position:
          type: integer
        permission_overwrites:
          type: array
          items:
            $ref: '#/components/schemas/Overwrite'
        name:
          type: string
          nullable: true
        topic:
          type: string
          nullable: true
        nsfw:
          type: boolean
        last_message_id:
          $ref: '#/components/schemas/Snowflake'
        bitrate:
          type: integer
        user_limit:
          type: integer
        rate_limit_per_user:
          type: integer
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/User'
        icon:
          type: string
          nullable: true
        owner_id:
          $ref: '#/components/schemas/Snowflake'
        parent_id:
          $ref: '#/components/schemas/Snowflake'
        last_pin_timestamp:
          type: string
          format: date-time
          nullable: true
        rtc_region:
          type: string
          nullable: true
        video_quality_mode:
          type: integer
        message_count:
          type: integer
        member_count:
          type: integer
        thread_metadata:
          $ref: '#/components/schemas/ThreadMetadata'
        default_auto_archive_duration:
          type: integer
        flags:
          type: integer
        total_message_sent:
          type: integer
      required:
      - id
      - type
    SnowflakeType:
      type: string
      pattern: ^(0|[1-9][0-9]*)$
      format: snowflake
    StickerTypes:
      type: integer
      oneOf:
      - title: STANDARD
        description: an official sticker in a pack, part of Nitro or in a removed purchasable pack
        const: 1
      - title: GUILD
        description: a sticker uploaded to a guild for the guild's members
        const: 2
      format: int32
    ResolvedObjectsResponse:
      type: object
      properties:
        users:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserResponse'
        members:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/GuildMemberResponse'
        channels:
          type: object
          additionalProperties:
            oneOf:
            - $ref: '#/components/schemas/GuildChannelResponse'
            - $ref: '#/components/schemas/PrivateChannelResponse'
            - $ref: '#/components/schemas/PrivateGroupChannelResponse'
            - $ref: '#/components/schemas/ThreadResponse'
        roles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/GuildRoleResponse'
      required:
      - users
      - members
      - channels
      - roles
    BasicApplicationResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        icon:
          type:
          - string
          - 'null'
        description:
          type: string
        type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ApplicationTypes'
        cover_image:
          type:
          - string
          - 'null'
        primary_sku_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        bot:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
      required:
      - id
      - name
      - description
    MessageEmbedFooterResponse:
      type: object
      properties:
        text:
          type: string
        icon_url:
          type:
          - string
          - 'null'
        proxy_icon_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - text
    MessageEmbedImageResponse:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
        proxy_url:
          type:
          - string
          - 'null'
          format: uri
        width:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UInt32Type'
        height:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UInt32Type'
        placeholder:
          type:
          - string
          - 'null'
        placeholder_version:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UInt32Type'
    MessageComponentStringSelectResponse:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 3
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        id:
          $ref: '#/components/schemas/SnowflakeType'
        custom_id:
          type: string
        placeholder:
          type:
          - string
          - 'null'
        min_values:
          type:
          - integer
          - 'null'
          format: int32
        max_values:
          type:
          - integer
          - 'null'
          format: int32
        disabled:
          type:
          - boolean
          - 'null'
        options:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/SelectOptionResponse'
      required:
      - type
      - id
      - custom_id
    CreateTextThreadWithoutMessageRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        auto_archive_duration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadAutoArchiveDuration'
        rate_limit_per_user:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 21600
        type:
          oneOf:
          - type: 'null'
          - type: integer
            enum:
            - 10
            - 11
            - 12
            allOf:
            - $ref: '#/components/schemas/ChannelTypes'
            format: int32
        invitable:
          type:
          - boolean
          - 'null'
      required:
      - name
    User:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Snowflake'
        username:
          type: string
        discriminator:
          type: string
        global_name:
          type: string
          nullable: true
        avatar:
          type: string
          nullable: true
        bot:
          type: boolean
        system:
          type: boolean
        mfa_enabled:
          type: boolean
        banner:
          type: string
          nullable: true
        accent_color:
          type: integer
          nullable: true
        locale:
          type: string
        verified:
          type: boolean
        email:
          type: string
          nullable: true
        flags:
          type: integer
        premium_type:
          type: integer
        public_flags:
          type: integer
        avatar_decoration_data:
          type: object
          nullable: true
      required:
      - id
      - username
    PurchaseNotificationResponse:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PurchaseType'
        guild_product_purchase:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/GuildProductPurchaseResponse'
      required:
      - type
    Error:
      type: object
      description: A single error, either for an API response or a specific field.
      properties:
        code:
          type: integer
          description: Discord internal error code. See error code reference
        message:
          type: string
          description: Human-readable error message
      required:
      - code
      - message
    MessageCallResponse:
      type: object
      properties:
        ended_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        participants:
          type: array
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
      required:
      - participants
    PrivateChannelRequestPartial:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 100
        icon:
          type:
          - string
          - 'null'
          contentEncoding: base64
    InviteChannelRecipientResponse:
      type: object
      properties:
        username:
          type: string
      required:
      - username
    GuildScheduledEventStatuses:
      type: integer
      oneOf:
      - title: SCHEDULED
        const: 1
      - title: ACTIVE
        const: 2
      - title: COMPLETED
        const: 3
      - title: CANCELED
        const: 4
      format: int32
    CreatedThreadResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        type:
          type: integer
          enum:
          - 10
          - 11
          - 12
          allOf:
          - $ref: '#/components/schemas/ChannelTypes'
          format: int32
        last_message_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        flags:
          type: integer
          format: int32
        last_pin_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        guild_id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        parent_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        rate_limit_per_user:
          type:
          - integer
          - 'null'
          format: int32
        bitrate:
          type:
          - integer
          - 'null'
          format: int32
        user_limit:
          type:
          - integer
          - 'null'
          format: int32
        rtc_region:
          type:
          - string
          - 'null'
        video_quality_mode:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/VideoQualityModes'
        permissions:
          type:
          - string
          - 'null'
        owner_id:
          $ref: '#/components/schemas/SnowflakeType'
        thread_metadata:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadMetadataResponse'
        message_count:
          type: integer
          format: int32
        member_count:
          type: integer
          format: int32
        total_message_sent:
          type: integer
          format: int32
        applied_tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
        member:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadMemberResponse'
      required:
      - id
      - type
      - flags
      - guild_id
      - name
      - owner_id
      - message_count
      - member_count
      - total_message_sent
    UserResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        username:
          type: string
        avatar:
          type:
          - string
          - 'null'
        discriminator:
          type: string
        public_flags:
          type: integer
          format: int32
        flags:
          $ref: '#/components/schemas/Int53Type'
        bot:
          type:
          - boolean
          - 'null'
        system:
          type:
          - boolean
          - 'null'
        banner:
          type:
          - string
          - 'null'
        accent_color:
          type:
          - integer
          - 'null'
          format: int32
        global_name:
          type:
          - string
          - 'null'
      required:
      - id
      - username
      - discriminator
      - public_flags
      - flags
    StandardStickerResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        tags:
          type: string
        type:
          type: integer
          enum:
          - 1
          allOf:
          - $ref: '#/components/schemas/StickerTypes'
          format: int32
        format_type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/StickerFormatTypes'
        description:
          type:
          - string
          - 'null'
        pack_id:
          $ref: '#/components/schemas/SnowflakeType'
        sort_value:
          type: integer
          format: int32
      required:
      - id
      - name
      - tags
      - type
      - pack_id
      - sort_value
    ChannelPermissionOverwrites:
      type: integer
      oneOf:
      - title: ROLE
        const: 0
      - title: MEMBER
        const: 1
      format: int32
    ThreadsResponse:
      type: object
      properties:
        threads:
          type: array
          items:
            $ref: '#/components/schemas/ThreadResponse'
        members:
          type: array
          items:
            $ref: '#/components/schemas/ThreadMemberResponse'
        has_more:
          type:
          - boolean
          - 'null'
      required:
      - threads
      - members
    SnowflakeSelectDefaultValueTypes:
      type: string
      oneOf:
      - title: USER
        const: user
      - title: ROLE
        const: role
      - title: CHANNEL
        const: channel
    GuildChannelResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        type:
          type: integer
          enum:
          - 0
          - 2
          - 4
          - 5
          - 13
          - 14
          - 15
          allOf:
          - $ref: '#/components/schemas/ChannelTypes'
          format: int32
        last_message_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        flags:
          type: integer
          format: int32
        last_pin_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        guild_id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        parent_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        rate_limit_per_user:
          type:
          - integer
          - 'null'
          format: int32
        bitrate:
          type:
          - integer
          - 'null'
          format: int32
        user_limit:
          type:
          - integer
          - 'null'
          format: int32
        rtc_region:
          type:
          - string
          - 'null'
        video_quality_mode:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/VideoQualityModes'
        permissions:
          type:
          - string
          - 'null'
        topic:
          type:
          - string
          - 'null'
        default_auto_archive_duration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadAutoArchiveDuration'
        default_thread_rate_limit_per_user:
          type:
          - integer
          - 'null'
          format: int32
        position:
          type: integer
          format: int32
        permission_overwrites:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChannelPermissionOverwriteResponse'
        nsfw:
          type:
          - boolean
          - 'null'
        available_tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ForumTagResponse'
        default_reaction_emoji:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/DefaultReactionEmojiResponse'
        default_sort_order:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadSortOrder'
        default_forum_layout:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ForumLayout'
      required:
      - id
      - type
      - flags
      - guild_id
      - name
      - position
    UpdateThreadRequestPartial:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 100
        archived:
          type:
          - boolean
          - 'null'
        locked:
          type:
          - boolean
          - 'null'
        invitable:
          type:
          - boolean
          - 'null'
        auto_archive_duration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadAutoArchiveDuration'
        rate_limit_per_user:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 21600
        flags:
          type:
          - integer
          - 'null'
        applied_tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          maxItems: 5
        bitrate:
          type:
          - integer
          - 'null'
          minimum: 8000
          format: int32
        user_limit:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 99
        rtc_region:
          type:
          - string
          - 'null'
        video_quality_mode:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/VideoQualityModes'
    PrivateChannelResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        type:
          type: integer
          enum:
          - 1
          allOf:
          - $ref: '#/components/schemas/ChannelTypes'
          format: int32
        last_message_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        flags:
          type: integer
          format: int32
        last_pin_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/UserResponse'
      required:
      - id
      - type
      - flags
      - recipients
    WebhookSourceGuildResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        icon:
          type:
          - string
          - 'null'
        name:
          type: string
      required:
      - id
      - name
    MessageReferenceResponse:
      type: object
      properties:
        type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageReferenceType'
        channel_id:
          $ref: '#/components/schemas/SnowflakeType'
        message_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        guild_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
      required:
      - channel_id
    UserSelect:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 5
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        custom_id:
          type: string
          maxLength: 100
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 150
        min_values:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 25
        max_values:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 25
        disabled:
          type:
          - boolean
          - 'null'
        default_values:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UserSelectDefaultValue'
          maxItems: 25
      required:
      - type
      - custom_id
    UInt32Type:
      type: integer
      minimum: 0
      maximum: 4294967295
      format: int64
    RichEmbedFooter:
      type: object
      properties:
        text:
          type:
          - string
          - 'null'
          maxLength: 2048
        icon_url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
    ScheduledEventUserResponse:
      type: object
      properties:
        guild_scheduled_event_id:
          $ref: '#/components/schemas/SnowflakeType'
        user_id:
          $ref: '#/components/schemas/SnowflakeType'
        user:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        member:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/GuildMemberResponse'
      required:
      - guild_scheduled_event_id
      - user_id
    MessageEmbedResponse:
      type: object
      properties:
        type:
          type: string
        url:
          type:
          - string
          - 'null'
          format: uri
        title:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        color:
          type:
          - integer
          - 'null'
          format: int32
        timestamp:
          type:
          - string
          - 'null'
          format: date-time
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MessageEmbedFieldResponse'
        author:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageEmbedAuthorResponse'
        provider:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageEmbedProviderResponse'
        image:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageEmbedImageResponse'
        thumbnail:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageEmbedImageResponse'
        video:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageEmbedVideoResponse'
        footer:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageEmbedFooterResponse'
      required:
      - type
    GuildRoleResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        permissions:
          type: string
        position:
          type: integer
          format: int32
        color:
          type: integer
          format: int32
        hoist:
          type: boolean
        managed:
          type: boolean
        mentionable:
          type: boolean
        icon:
          type:
          - string
          - 'null'
        unicode_emoji:
          type:
          - string
          - 'null'
        tags:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/GuildRoleTagsResponse'
      required:
      - id
      - name
      - permissions
      - position
      - color
      - hoist
      - managed
      - mentionable
    CreateGuildInviteRequest:
      type: object
      properties:
        max_age:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 604800
        temporary:
          type:
          - boolean
          - 'null'
        max_uses:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 100
        unique:
          type:
          - boolean
          - 'null'
        target_user_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        target_application_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        target_type:
          oneOf:
          - type: 'null'
          - type: integer
            enum:
            - 1
            - 2
            allOf:
            - $ref: '#/components/schemas/InviteTargetTypes'
            format: int32
    ThreadSortOrder:
      type: integer
      oneOf:
      - title: LATEST_ACTIVITY
        description: Sort forum posts by activity
        const: 0
      - title: CREATION_DATE
        description: Sort forum posts by creation time (from most recent to oldest)
        const: 1
      format: int32
    RichEmbedImage:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
          maxLength: 2048
          format: uri
        width:
          type:
          - integer
          - 'null'
        height:
          type:
          - integer
          - 'null'
        placeholder:
          type:
          - string
          - 'null'
          maxLength: 64
        placeholder_version:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 2147483647
    GuildMemberResponse:
      type: object
      properties:
        avatar:
          type:
          - string
          - 'null'
        avatar_decoration_data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserAvatarDecorationResponse'
        communication_disabled_until:
          type:
          - string
          - 'null'
          format: date-time
        flags:
          type: integer
          format: int32
        joined_at:
          type: string
          format: date-time
        nick:
          type:
          - string
          - 'null'
        pending:
          type: boolean
        premium_since:
          type:
          - string
          - 'null'
          format: date-time
        roles:
          type: array
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
        user:
          $ref: '#/components/schemas/UserResponse'
        mute:
          type: boolean
        deaf:
          type: boolean
      required:
      - flags
      - joined_at
      - pending
      - roles
      - user
      - mute
      - deaf
    UpdateGuildChannelRequestPartial:
      type: object
      properties:
        type:
          oneOf:
          - type: 'null'
          - type: integer
            enum:
            - 0
            - 2
            - 4
            - 5
            - 13
            - 14
            - 15
            allOf:
            - $ref: '#/components/schemas/ChannelTypes'
            format: int32
        name:
          type: string
          minLength: 1
          maxLength: 100
        position:
          type:
          - integer
          - 'null'
          minimum: 0
          format: int32
        topic:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 4096
        bitrate:
          type:
          - integer
          - 'null'
          minimum: 8000
          format: int32
        user_limit:
          type:
          - integer
          - 'null'
          minimum: 0
          format: int32
        nsfw:
          type:
          - boolean
          - 'null'
        rate_limit_per_user:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 21600
        parent_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        permission_overwrites:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChannelPermissionOverwriteRequest'
          maxItems: 100
        rtc_region:
          type:
          - string
          - 'null'
        video_quality_mode:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/VideoQualityModes'
        default_auto_archive_duration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadAutoArchiveDuration'
        default_reaction_emoji:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UpdateDefaultReactionEmojiRequest'
        default_thread_rate_limit_per_user:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 21600
        default_sort_order:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadSortOrder'
        default_forum_layout:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ForumLayout'
        flags:
          type:
          - integer
          - 'null'
        available_tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UpdateThreadTagRequest'
          maxItems: 20
    Snowflake:
      type: string
      description: Discord unique ID represented as a string
      pattern: ^[0-9]+$
    CreateForumThreadRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        auto_archive_duration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadAutoArchiveDuration'
        rate_limit_per_user:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 21600
        applied_tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          maxItems: 5
        message:
          $ref: '#/components/schemas/BaseCreateMessageCreateRequest'
      required:
      - name
      - message
    RoleSelectDefaultValue:
      type: object
      properties:
        type:
          type: string
          enum:
          - role
          allOf:
          - $ref: '#/components/schemas/SnowflakeSelectDefaultValueTypes'
        id:
          $ref: '#/components/schemas/SnowflakeType'
      required:
      - type
      - id
    SelectOption:
      type: object
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 100
        value:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 100
        emoji:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Emoji'
        default:
          type:
          - boolean
          - 'null'
      required:
      - label
      - value
    RichEmbedField:
      type: object
      properties:
        name:
          type: string
          maxLength: 256
        value:
          type: string
          maxLength: 1024
        inline:
          type:
          - boolean
          - 'null'
      required:
      - name
      - value
    DefaultReactionEmojiResponse:
      type: object
      properties:
        emoji_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        emoji_name:
          type:
          - string
          - 'null'
    ThreadAutoArchiveDuration:
      type: integer
      oneOf:
      - title: ONE_HOUR
        description: One hour
        const: 60
      - title: ONE_DAY
        description: One day
        const: 1440
      - title: THREE_DAY
        description: Three days
        const: 4320
      - title: SEVEN_DAY
        description: Seven days
        const: 10080
      format: int32
    MessageComponentInputTextResponse:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 4
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        id:
          $ref: '#/components/schemas/SnowflakeType'
        custom_id:
          type: string
        style:
          $ref: '#/components/schemas/TextStyleTypes'
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        placeholder:
          type:
          - string
          - 'null'
        required:
          type:
          - boolean
          - 'null'
        min_length:
          type:
          - integer
          - 'null'
          format: int32
        max_length:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - type
      - id
      - custom_id
      - style
    CreateGroupDMInviteRequest:
      type: object
      properties:
        max_age:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 604800
    FriendInviteResponse:
      type: object
      properties:
        type:
          oneOf:
          - type: 'null'
          - type: integer
            enum:
            - 2
            allOf:
            - $ref: '#/components/schemas/InviteTypes'
            format: int32
        code:
          type: string
        inviter:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        max_age:
          type:
          - integer
          - 'null'
          format: int32
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
        friends_count:
          type:
          - integer
          - 'null'
          format: int32
        channel:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InviteChannelResponse'
        is_contact:
          type:
          - boolean
          - 'null'
        uses:
          type:
          - integer
          - 'null'
          format: int32
        max_uses:
          type:
          - integer
          - 'null'
          format: int32
        flags:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - code
    CreateTextThreadWithMessageRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        auto_archive_duration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadAutoArchiveDuration'
        rate_limit_per_user:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 21600
      required:
      - name
    OAuth2Scopes:
      type: string
      oneOf:
      - title: IDENTIFY
        description: allows /users/@me without email
        const: identify
      - title: EMAIL
        description: enables /users/@me to return an email
        const: email
      - title: CONNECTIONS
        description: allows /users/@me/connections to return linked third-party accounts
        const: connections
      - title: GUILDS
        description: allows /users/@me/guilds to return basic information about all of a user's guilds
        const: guilds
      - title: GUILDS_JOIN
        description: allows /guilds/{guild.id}/members/{user.id} to be used for joining users to a guild
        const: guilds.join
      - title: GUILDS_MEMBERS_READ
        description: allows /users/@me/guilds/{guild.id}/member to return a user's member information in a guild
        const: guilds.members.read
      - title: GDM_JOIN
        description: allows your app to join users to a group dm
        const: gdm.join
      - title: BOT
        description: for oauth2 bots, this puts the bot in the user's selected guild by default
        const: bot
      - title: RPC
        description: for local rpc server access, this allows you to control a user's local Discord client - requires Discord approval
        const: rpc
      - title: RPC_NOTIFICATIONS_READ
        description: for local rpc server access, this allows you to receive notifications pushed out to the user - requires Discord approval
        const: rpc.notifications.read
      - title: RPC_VOICE_READ
        description: for local rpc server access, this allows you to read a user's voice settings and listen for voice events - requires Discord approval
        const: rpc.voice.read
      - title: RPC_VOICE_WRITE
        description: for local rpc server access, this allows you to update a user's voice settings - requires Discord approval
        const: rpc.voice.write
      - title: RPC_VIDEO_READ
        description: for local rpc server access, this allows you to read a user's video status - requires Discord approval
        const: rpc.video.read
      - title: RPC_VIDEO_WRITE
        description: for local rpc server access, this allows you to update a user's video settings - requires Discord approval
        const: rpc.video.write
      - title: RPC_SCREENSHARE_READ
        description: for local rpc server access, this allows you to read a user's screenshare status- requires Discord approval
        const: rpc.screenshare.read
      - title: RPC_SCREENSHARE_WRITE
        description: for local rpc server access, this allows you to update a user's screenshare settings- requires Discord approval
        const: rpc.screenshare.write
      - title: RPC_ACTIVITIES_WRITE
        description: for local rpc server access, this allows you to update a user's activity - requires Discord approval
        const: rpc.activities.write
      - title: WEBHOOK_INCOMING
        description: this generates a webhook that is returned in the oauth token response for authorization code grants
        const: webhook.incoming
      - title: MESSAGES_READ
        description: for local rpc server api access, this allows you to read messages from all client channels (otherwise restricted to channels/guilds your app creates)
        const: messages.read
      - title: APPLICATIONS_BUILDS_UPLOAD
        description: allows your app to upload/update builds for a user's applications - requires Discord approval
        const: applications.builds.upload
      - title: APPLICATIONS_BUILDS_READ
        description: allows your app to read build data for a user's applications
        const: applications.builds.read
      - title: APPLICATIONS_COMMANDS
        description: allows your app to use commands in a guild
        const: applications.commands
      - title: APPLICATIONS_COMMANDS_PERMISSIONS_UPDATE
        description: allows your app to update permissions for its commands in a guild a user has permissions to
        const: applications.commands.permissions.update
      - title: APPLICATIONS_COMMANDS_UPDATE
        description: allows your app to update its commands using a Bearer token - client credentials grant only
        const: applications.commands.update
      - title: APPLICATIONS_STORE_UPDATE
        description: allows your app to read and update store data (SKUs, store listings, achievements, etc.) for a user's applications
        const: applications.store.update
      - title: APPLICATIONS_ENTITLEMENTS
        description: allows your app to read entitlements for a user's applications
        const: applications.entitlements
      - title: ACTIVITIES_READ
        description: allows your app to fetch data from a user's "Now Playing/Recently Played" list - requires Discord approval
        const: activities.read
      - title: ACTIVITIES_WRITE
        description: allows your app to update a user's activity - requires Discord approval (NOT REQUIRED FOR GAMESDK ACTIVITY MANAGER)
        const: activities.write
      - title: RELATIONSHIPS_READ
        description: allows your app to know a user's friends and implicit relationships - requires Discord approval
        const: relationships.read
      - title: VOICE
        description: allows your app to connect to voice on user's behalf and see all the voice members - requires Discord approval
        const: voice
      - title: DM_CHANNELS_READ
        description: allows your app to see information about the user's DMs and group DMs - requires Discord approval
        const: dm_channels.read
      - title: ROLE_CONNECTIONS_WRITE
        description: allows your app to update a user's connection and metadata for the app
        const: role_connections.write
      - title: OPENID
        description: for OpenID Connect, this allows your app to receive user id and basic profile information
        const: openid
    VideoQualityModes:
      type: integer
      oneOf:
      - title: AUTO
        description: Discord chooses the quality for optimal performance
        const: 1
      - title: FULL
        description: 720p
        const: 2
      format: int32
    MessageResponse:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/MessageType'
        channel_id:
          $ref: '#/components/schemas/SnowflakeType'
        content:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/MessageAttachmentResponse'
        embeds:
          type: array
          items:
            $ref: '#/components/schemas/MessageEmbedResponse'
        timestamp:
          type: string
          format: date-time
        edited_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        flags:
          type: integer
          format: int32
        components:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/MessageComponentActionRowResponse'
            - $ref: '#/components/schemas/MessageComponentButtonResponse'
            - $ref: '#/components/schemas/MessageComponentChannelSelectResponse'
            - $ref: '#/components/schemas/MessageComponentInputTextResponse'
            - $ref: '#/components/schemas/MessageComponentMentionableSelectResponse'
            - $ref: '#/components/schemas/MessageComponentRoleSelectResponse'
            - $ref: '#/components/schemas/MessageComponentStringSelectResponse'
            - $ref: '#/components/schemas/MessageComponentUserSelectResponse'
        resolved:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ResolvedObjectsResponse'
        id:
          $ref: '#/components/schemas/SnowflakeType'
        author:
          $ref: '#/components/schemas/UserResponse'
        mentions:
          type: array
          items:
            $ref: '#/components/schemas/UserResponse'
        mention_roles:
          type: array
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
        pinned:
          type: boolean
        mention_everyone:
          type: boolean
        tts:
          type: boolean
        call:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageCallResponse'
        activity:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageActivityResponse'
        application:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/BasicApplicationResponse'
        application_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        interaction:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageInteractionResponse'
        nonce:
          oneOf:
          - type: integer
            minimum: -9223372036854776000
            maximum: 9223372036854776000
            format: int64
          - type: string
            maxLength: 25
            format: nonce
          - type: 'null'
        webhook_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        message_reference:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageReferenceResponse'
        thread:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ThreadResponse'
        mention_channels:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MessageMentionChannelResponse'
        stickers:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - $ref: '#/components/schemas/GuildStickerResponse'
            - $ref: '#/components/schemas/StandardStickerResponse'
        sticker_items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MessageStickerItemResponse'
        role_subscription_data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MessageRoleSubscriptionDataResponse'
        purchase_notification:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/PurchaseNotificationResponse'
        position:
          type:
          - integer
          - 'null'
          format: int32
        reactions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MessageReactionResponse'
        referenced_message:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/BasicMessageResponse'
      required:
      - type
      - channel_id
      - content
      - attachments
      - embeds
      - timestamp
      - flags
      - components
      - id
      - author
      - mentions
      - mention_roles
      - pinned
      - mention_everyone
      - tts
    InviteTargetTypes:
      type: integer
      oneOf:
      - title: STREAM
        const: 1
      - title: EMBEDDED_APPLICATION
        const: 2
      - title: ROLE_SUBSCRIPTIONS_PURCHASE
        const: 3
      format: int32
    ForumTagResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        moderated:
          type: boolean
        emoji_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        emoji_name:
          type:
          - string
          - 'null'
      required:
      - id
      - name
      - moderated
    VerificationLevels:
      type: integer
      oneOf:
      - title: NONE
        description: unrestricted
        const: 0
      - title: LOW
        description: must have verified email on account
        const: 1
      - title: MEDIUM
        description: must be registered on Discord for longer than 5 minutes
        const: 2
      - title: HIGH
        description: must be a member of the server for longer than 10 minutes
        const: 3
      - title: VERY_HIGH
        description: must have a verified phone number
        const: 4
      format: int32
    MessageComponentChannelSelectResponse:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 8
          allOf:
          - $ref: '#/components/schemas/MessageComponentTypes'
          format: int32
        id:
          $ref: '#/components/schemas/SnowflakeType'
        custom_id:
          type: string
        placeholder:
          type:
          - string
          - 'null'
        min_values:
          type:
          - integer
          - 'null'
          format: int32
        max_values:
          type:
[...]
