openapi: 3.1.0
info:
  title: Discord Interactions Application Commands Guilds API
  description: The Discord Interactions API enables applications to create and respond to application commands (slash commands), message components, and modals. It supports both Gateway-based and webhook-based interaction handling, allowing bots to build rich, interactive user experiences within Discord.
  version: '10'
  contact:
    name: Discord Support
    url: https://support-dev.discord.com/hc/en-us
    email: support@discord.com
  termsOfService: https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service
servers:
- url: https://discord.com/api/v10
  description: Discord API v10
security:
- BotToken: []
tags:
- name: Guilds
paths:
  /guilds:
    post:
      operationId: create_guild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildCreateRequest'
        required: true
      responses:
        '201':
          description: 201 response for create_guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/scheduled-events/{guild_scheduled_event_id}/users:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: guild_scheduled_event_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_scheduled_event_users
      parameters:
      - name: with_member
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: before
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: after
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      responses:
        '200':
          description: 200 response for list_guild_scheduled_event_users
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  $ref: '#/components/schemas/ScheduledEventUserResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/auto-moderation/rules/{rule_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: rule_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_auto_moderation_rule
      responses:
        '200':
          description: 200 response for get_auto_moderation_rule
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/DefaultKeywordRuleResponse'
                - $ref: '#/components/schemas/KeywordRuleResponse'
                - $ref: '#/components/schemas/MLSpamRuleResponse'
                - $ref: '#/components/schemas/MentionSpamRuleResponse'
                - $ref: '#/components/schemas/SpamLinkRuleResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: delete_auto_moderation_rule
      responses:
        '204':
          description: 204 response for delete_auto_moderation_rule
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_auto_moderation_rule
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/DefaultKeywordListUpsertRequestPartial'
              - $ref: '#/components/schemas/KeywordUpsertRequestPartial'
              - $ref: '#/components/schemas/MLSpamUpsertRequestPartial'
              - $ref: '#/components/schemas/MentionSpamUpsertRequestPartial'
              x-discord-union: oneOf
        required: true
      responses:
        '200':
          description: 200 response for update_auto_moderation_rule
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/DefaultKeywordRuleResponse'
                - $ref: '#/components/schemas/KeywordRuleResponse'
                - $ref: '#/components/schemas/MLSpamRuleResponse'
                - $ref: '#/components/schemas/MentionSpamRuleResponse'
                - $ref: '#/components/schemas/SpamLinkRuleResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/auto-moderation/rules:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_auto_moderation_rules
      responses:
        '200':
          description: 200 response for list_auto_moderation_rules
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  oneOf:
                  - $ref: '#/components/schemas/DefaultKeywordRuleResponse'
                  - $ref: '#/components/schemas/KeywordRuleResponse'
                  - $ref: '#/components/schemas/MLSpamRuleResponse'
                  - $ref: '#/components/schemas/MentionSpamRuleResponse'
                  - $ref: '#/components/schemas/SpamLinkRuleResponse'
                  - type: 'null'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: create_auto_moderation_rule
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/DefaultKeywordListUpsertRequest'
              - $ref: '#/components/schemas/KeywordUpsertRequest'
              - $ref: '#/components/schemas/MLSpamUpsertRequest'
              - $ref: '#/components/schemas/MentionSpamUpsertRequest'
        required: true
      responses:
        '200':
          description: 200 response for create_auto_moderation_rule
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/DefaultKeywordRuleResponse'
                - $ref: '#/components/schemas/KeywordRuleResponse'
                - $ref: '#/components/schemas/MLSpamRuleResponse'
                - $ref: '#/components/schemas/MentionSpamRuleResponse'
                - $ref: '#/components/schemas/SpamLinkRuleResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/voice-states/@me:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    patch:
      operationId: update_self_voice_state
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_to_speak_timestamp:
                  type:
                  - string
                  - 'null'
                  format: date-time
                suppress:
                  type:
                  - boolean
                  - 'null'
                channel_id:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/SnowflakeType'
        required: true
      responses:
        '204':
          description: 204 response for update_self_voice_state
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/members/search:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: search_guild_members
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
        required: true
      - name: query
        in: query
        schema:
          type: string
          minLength: 1
          maxLength: 100
        required: true
      responses:
        '200':
          description: 200 response for search_guild_members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GuildMemberResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/threads/active:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_active_guild_threads
      responses:
        '200':
          description: 200 response for get_active_guild_threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/members/@me:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    patch:
      operationId: update_my_guild_member
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nick:
                  type:
                  - string
                  - 'null'
                  maxLength: 32
        required: true
      responses:
        '200':
          description: 200 response for update_my_guild_member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateGuildMemberResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/members/{user_id}/roles/{role_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: user_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: role_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    put:
      operationId: add_guild_member_role
      responses:
        '204':
          description: 204 response for add_guild_member_role
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: delete_guild_member_role
      responses:
        '204':
          description: 204 response for delete_guild_member_role
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/templates/{code}:
    parameters:
    - name: code
      in: path
      schema:
        type: string
        maxLength: 152133
      required: true
    get:
      operationId: get_guild_template
      responses:
        '200':
          description: 200 response for get_guild_template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - {}
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: create_guild_from_template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 100
                icon:
                  type:
                  - string
                  - 'null'
                  contentEncoding: base64
              required:
              - name
        required: true
      responses:
        '201':
          description: 201 response for create_guild_from_template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/new-member-welcome:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_new_member_welcome
      responses:
        '200':
          description: 200 response for get_guild_new_member_welcome
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildHomeSettingsResponse'
        '204':
          description: 204 response for get_guild_new_member_welcome
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/scheduled-events/{guild_scheduled_event_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: guild_scheduled_event_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_scheduled_event
      parameters:
      - name: with_user_count
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: 200 response for get_guild_scheduled_event
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ExternalScheduledEventResponse'
                - $ref: '#/components/schemas/StageScheduledEventResponse'
                - $ref: '#/components/schemas/VoiceScheduledEventResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: delete_guild_scheduled_event
      responses:
        '204':
          description: 204 response for delete_guild_scheduled_event
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild_scheduled_event
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ExternalScheduledEventPatchRequestPartial'
              - $ref: '#/components/schemas/StageScheduledEventPatchRequestPartial'
              - $ref: '#/components/schemas/VoiceScheduledEventPatchRequestPartial'
              x-discord-union: oneOf
        required: true
      responses:
        '200':
          description: 200 response for update_guild_scheduled_event
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ExternalScheduledEventResponse'
                - $ref: '#/components/schemas/StageScheduledEventResponse'
                - $ref: '#/components/schemas/VoiceScheduledEventResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/scheduled-events:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_scheduled_events
      parameters:
      - name: with_user_count
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: 200 response for list_guild_scheduled_events
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  oneOf:
                  - $ref: '#/components/schemas/ExternalScheduledEventResponse'
                  - $ref: '#/components/schemas/StageScheduledEventResponse'
                  - $ref: '#/components/schemas/VoiceScheduledEventResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: create_guild_scheduled_event
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/ExternalScheduledEventCreateRequest'
              - $ref: '#/components/schemas/StageScheduledEventCreateRequest'
              - $ref: '#/components/schemas/VoiceScheduledEventCreateRequest'
        required: true
      responses:
        '200':
          description: 200 response for create_guild_scheduled_event
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ExternalScheduledEventResponse'
                - $ref: '#/components/schemas/StageScheduledEventResponse'
                - $ref: '#/components/schemas/VoiceScheduledEventResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/welcome-screen:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_welcome_screen
      responses:
        '200':
          description: 200 response for get_guild_welcome_screen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildWelcomeScreenResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild_welcome_screen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WelcomeScreenPatchRequestPartial'
        required: true
      responses:
        '200':
          description: 200 response for update_guild_welcome_screen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildWelcomeScreenResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/voice-states/{user_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: user_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    patch:
      operationId: update_voice_state
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                suppress:
                  type:
                  - boolean
                  - 'null'
                channel_id:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/SnowflakeType'
        required: true
      responses:
        '204':
          description: 204 response for update_voice_state
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/integrations/{integration_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: integration_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    delete:
      operationId: delete_guild_integration
      responses:
        '204':
          description: 204 response for delete_guild_integration
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/integrations:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_integrations
      responses:
        '200':
          description: 200 response for list_guild_integrations
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  oneOf:
                  - $ref: '#/components/schemas/DiscordIntegrationResponse'
                  - $ref: '#/components/schemas/ExternalConnectionIntegrationResponse'
                  - $ref: '#/components/schemas/GuildSubscriptionIntegrationResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/widget.json:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_widget
      responses:
        '200':
          description: 200 response for get_guild_widget
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - {}
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/onboarding:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guilds_onboarding
      responses:
        '200':
          description: 200 response for get_guilds_onboarding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGuildOnboardingResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    put:
      operationId: put_guilds_onboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGuildOnboardingRequest'
        required: true
      responses:
        '200':
          description: 200 response for put_guilds_onboarding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildOnboardingResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/vanity-url:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_vanity_url
      responses:
        '200':
          description: 200 response for get_guild_vanity_url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanityURLResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/audit-logs:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_audit_log_entries
      parameters:
      - name: user_id
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: target_id
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: action_type
        in: query
        schema:
          type: integer
      - name: before
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: after
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 200 response for list_guild_audit_log_entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildAuditLogResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/widget.png:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_widget_png
      parameters:
      - name: style
        in: query
        schema:
          $ref: '#/components/schemas/WidgetImageStyles'
      responses:
        '200':
          description: 200 response for get_guild_widget_png
          content:
            image/png:
              schema:
                type: string
                contentEncoding: binary
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - {}
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/templates/{code}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: code
      in: path
      schema:
        type: string
        maxLength: 152133
      required: true
    put:
      operationId: sync_guild_template
      responses:
        '200':
          description: 200 response for sync_guild_template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: delete_guild_template
      responses:
        '200':
          description: 200 response for delete_guild_template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild_template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 120
        required: true
      responses:
        '200':
          description: 200 response for update_guild_template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/templates:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_templates
      responses:
        '200':
          description: 200 response for list_guild_templates
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  $ref: '#/components/schemas/GuildTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: create_guild_template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 120
              required:
              - name
        required: true
      responses:
        '200':
          description: 200 response for create_guild_template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildTemplateResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/stickers/{sticker_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: sticker_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_sticker
      responses:
        '200':
          description: 200 response for get_guild_sticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildStickerResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: delete_guild_sticker
      responses:
        '204':
          description: 204 response for delete_guild_sticker
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild_sticker
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 30
                tags:
                  type: string
                  minLength: 1
                  maxLength: 200
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 100
        required: true
      responses:
        '200':
          description: 200 response for update_guild_sticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildStickerResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/bulk-ban:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    post:
      operationId: bulk_ban_users_from_guild
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/SnowflakeType'
                  maxItems: 200
                  uniqueItems: true
                delete_message_seconds:
                  type:
                  - integer
                  - 'null'
                  minimum: 0
                  maximum: 604800
              required:
              - user_ids
        required: true
      responses:
        '200':
          description: 200 response for bulk_ban_users_from_guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkBanUsersResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/stickers:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_stickers
      responses:
        '200':
          description: 200 response for list_guild_stickers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GuildStickerResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: create_guild_sticker
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 30
                tags:
                  type: string
                  minLength: 1
                  maxLength: 200
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 100
                file:
                  type: string
                  contentEncoding: binary
              required:
              - name
              - tags
              - file
        required: true
      responses:
        '201':
          description: 201 response for create_guild_sticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildStickerResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/webhooks:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_webhooks
      responses:
        '200':
          description: 200 response for get_guild_webhooks
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  oneOf:
                  - $ref: '#/components/schemas/ApplicationIncomingWebhookResponse'
                  - $ref: '#/components/schemas/ChannelFollowerWebhookResponse'
                  - $ref: '#/components/schemas/GuildIncomingWebhookResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/channels:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_channels
      responses:
        '200':
          description: 200 response for list_guild_channels
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  oneOf:
                  - $ref: '#/components/schemas/GuildChannelResponse'
                  - $ref: '#/components/schemas/PrivateChannelResponse'
                  - $ref: '#/components/schemas/PrivateGroupChannelResponse'
                  - $ref: '#/components/schemas/ThreadResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: create_guild_channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuildChannelRequest'
        required: true
      responses:
        '201':
          description: 201 response for create_guild_channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildChannelResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: bulk_update_guild_channels
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/SnowflakeType'
                  position:
                    type:
                    - integer
                    - 'null'
                    minimum: 0
                    format: int32
                  parent_id:
                    oneOf:
                    - type: 'null'
                    - $ref: '#/components/schemas/SnowflakeType'
                  lock_permissions:
                    type:
                    - boolean
                    - 'null'
        required: true
      responses:
        '204':
          description: 204 response for bulk_update_guild_channels
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/members/{user_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: user_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_member
      responses:
        '200':
          description: 200 response for get_guild_member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildMemberResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    put:
      operationId: add_guild_member
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nick:
                  type:
                  - string
                  - 'null'
                  maxLength: 32
                roles:
                  type:
                  - array
                  - 'null'
                  items:
                    oneOf:
                    - type: 'null'
                    - $ref: '#/components/schemas/SnowflakeType'
                  maxItems: 1521
                  uniqueItems: true
                mute:
                  type:
                  - boolean
                  - 'null'
                deaf:
                  type:
                  - boolean
                  - 'null'
                access_token:
                  type: string
                  maxLength: 152133
                flags:
                  type:
                  - integer
                  - 'null'
              required:
              - access_token
        required: true
      responses:
        '201':
          description: 201 response for add_guild_member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildMemberResponse'
        '204':
          description: 204 response for add_guild_member
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: delete_guild_member
      responses:
        '204':
          description: 204 response for delete_guild_member
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild_member
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nick:
                  type:
                  - string
                  - 'null'
                  maxLength: 32
                roles:
                  type:
                  - array
                  - 'null'
                  items:
                    oneOf:
                    - type: 'null'
                    - $ref: '#/components/schemas/SnowflakeType'
                  maxItems: 1521
                  uniqueItems: true
                mute:
                  type:
                  - boolean
                  - 'null'
                deaf:
                  type:
                  - boolean
                  - 'null'
                channel_id:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/SnowflakeType'
                communication_disabled_until:
                  type:
                  - string
                  - 'null'
                  format: date-time
                flags:
                  type:
                  - integer
                  - 'null'
        required: true
      responses:
        '200':
          description: 200 response for update_guild_member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildMemberResponse'
        '204':
          description: 204 response for update_guild_member
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/members:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_members
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: after
        in: query
        schema:
          type: integer
          minimum: 0
      responses:
        '200':
          description: 200 response for list_guild_members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GuildMemberResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/preview:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_preview
      responses:
        '200':
          description: 200 response for get_guild_preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildPreviewResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/invites:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_invites
      responses:
        '200':
          description: 200 response for list_guild_invites
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  anyOf:
                  - $ref: '#/components/schemas/FriendInviteResponse'
                  - $ref: '#/components/schemas/GroupDMInviteResponse'
                  - $ref: '#/components/schemas/GuildInviteResponse'
                  x-discord-union: oneOf
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/regions:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_voice_regions
      responses:
        '200':
          description: 200 response for list_guild_voice_regions
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  $ref: '#/components/schemas/VoiceRegionResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/emojis/{emoji_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: emoji_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_emoji
      responses:
        '200':
          description: 200 response for get_guild_emoji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmojiResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: delete_guild_emoji
      responses:
        '204':
          description: 204 response for delete_guild_emoji
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild_emoji
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 32
                roles:
                  type:
                  - array
                  - 'null'
                  items:
                    oneOf:
                    - type: 'null'
                    - $ref: '#/components/schemas/SnowflakeType'
                  maxItems: 1521
                  uniqueItems: true
        required: true
      responses:
        '200':
          description: 200 response for update_guild_emoji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmojiResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/emojis:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_emojis
      responses:
        '200':
          description: 200 response for list_guild_emojis
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  $ref: '#/components/schemas/EmojiResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: create_guild_emoji
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 32
                image:
                  type: string
                  contentEncoding: base64
                roles:
                  type:
                  - array
                  - 'null'
                  items:
                    oneOf:
                    - type: 'null'
                    - $ref: '#/components/schemas/SnowflakeType'
                  maxItems: 1521
                  uniqueItems: true
              required:
              - name
              - image
        required: true
      responses:
        '201':
          description: 201 response for create_guild_emoji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmojiResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/widget:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_widget_settings
      responses:
        '200':
          description: 200 response for get_guild_widget_settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetSettingsResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild_widget_settings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_id:
                  oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/SnowflakeType'
                enabled:
                  type:
                  - boolean
                  - 'null'
        required: true
      responses:
        '200':
          description: 200 response for update_guild_widget_settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetSettingsResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/roles/{role_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: role_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    delete:
      operationId: delete_guild_role
      responses:
        '204':
          description: 204 response for delete_guild_role
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild_role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  maxLength: 100
                permissions:
                  type:
                  - integer
                  - 'null'
                color:
                  type:
                  - integer
                  - 'null'
                  minimum: 0
                  maximum: 16777215
                hoist:
                  type:
                  - boolean
                  - 'null'
                mentionable:
                  type:
                  - boolean
                  - 'null'
                icon:
                  type:
                  - string
                  - 'null'
                  contentEncoding: base64
                unicode_emoji:
                  type:
                  - string
                  - 'null'
                  maxLength: 100
        required: true
      responses:
        '200':
          description: 200 response for update_guild_role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildRoleResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/roles:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_roles
      responses:
        '200':
          description: 200 response for list_guild_roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GuildRoleResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: create_guild_role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  maxLength: 100
                permissions:
                  type:
                  - integer
                  - 'null'
                color:
                  type:
                  - integer
                  - 'null'
                  minimum: 0
                  maximum: 16777215
                hoist:
                  type:
                  - boolean
                  - 'null'
                mentionable:
                  type:
                  - boolean
                  - 'null'
                icon:
                  type:
                  - string
                  - 'null'
                  contentEncoding: base64
                unicode_emoji:
                  type:
                  - string
                  - 'null'
                  maxLength: 100
        required: true
      responses:
        '200':
          description: 200 response for create_guild_role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildRoleResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: bulk_update_guild_roles
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    oneOf:
                    - type: 'null'
                    - $ref: '#/components/schemas/SnowflakeType'
                  position:
                    type:
                    - integer
                    - 'null'
                    format: int32
        required: true
      responses:
        '200':
          description: 200 response for bulk_update_guild_roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GuildRoleResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/prune:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: preview_prune_guild
      parameters:
      - name: days
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 30
      - name: include_roles
        in: query
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/SnowflakeType'
            maxItems: 100
            uniqueItems: true
      responses:
        '200':
          description: 200 response for preview_prune_guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildPruneResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    post:
      operationId: prune_guild
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                days:
                  type:
                  - integer
                  - 'null'
                  minimum: 1
                  maximum: 30
                compute_prune_count:
                  type:
                  - boolean
                  - 'null'
                include_roles:
                  oneOf:
                  - type: string
                  - type: array
                    items:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/SnowflakeType'
                    maxItems: 100
                    uniqueItems: true
                  - type: 'null'
        required: true
      responses:
        '200':
          description: 200 response for prune_guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildPruneResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/bans/{user_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    - name: user_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild_ban
      responses:
        '200':
          description: 200 response for get_guild_ban
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildBanResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    put:
      operationId: ban_user_from_guild
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_message_seconds:
                  type:
                  - integer
                  - 'null'
                  minimum: 0
                  maximum: 604800
                delete_message_days:
                  type:
                  - integer
                  - 'null'
                  minimum: 0
                  maximum: 7
        required: true
      responses:
        '204':
          description: 204 response for ban_user_from_guild
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: unban_user_from_guild
      responses:
        '204':
          description: 204 response for unban_user_from_guild
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/bans:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: list_guild_bans
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: before
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      - name: after
        in: query
        schema:
          $ref: '#/components/schemas/SnowflakeType'
      responses:
        '200':
          description: 200 response for list_guild_bans
          content:
            application/json:
              schema:
                type:
                - array
                - 'null'
                items:
                  $ref: '#/components/schemas/GuildBanResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}/mfa:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    post:
      operationId: set_guild_mfa_level
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                level:
                  $ref: '#/components/schemas/GuildMFALevel'
              required:
              - level
        required: true
      responses:
        '200':
          description: 200 response for set_guild_mfa_level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildMFALevelResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /guilds/{guild_id}:
    parameters:
    - name: guild_id
      in: path
      schema:
        $ref: '#/components/schemas/SnowflakeType'
      required: true
    get:
      operationId: get_guild
      parameters:
      - name: with_counts
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: 200 response for get_guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildWithCountsResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    delete:
      operationId: delete_guild
      responses:
        '204':
          description: 204 response for delete_guild
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
    patch:
      operationId: update_guild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildPatchRequestPartial'
        required: true
      responses:
        '200':
          description: 200 response for update_guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
        4XX:
          $ref: '#/components/responses/ClientErrorResponse'
      security:
      - BotToken: []
      tags:
      - Guilds
  /applications/{application_id}/entitlements:
    get:
      operationId: listEntitlements
      summary: Discord List entitlements
      description: Returns all entitlements for a given app, active and expired.
      tags:
      - Guilds
      parameters:
      - name: application_id
        in: path
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        schema:
          type: string
      - name: sku_ids
        in: query
        schema:
          type: string
      - name: before
        in: query
        schema:
          type: string
      - name: after
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 100
          default: 100
      - name: guild_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of entitlement objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entitlement'
        4XX:
          $ref: '#/components/responses/ClientError'
components:
  schemas:
    AutomodTriggerType:
      type: integer
      oneOf:
      - title: KEYWORD
        description: Check if content contains words from a list of keywords or matches regex
        const: 1
      - title: SPAM_LINK
        description: DEPRECATED
        const: 2
      - title: ML_SPAM
        description: Check if content represents generic spam
        const: 3
      - title: DEFAULT_KEYWORD_LIST
        description: Check if content contains words from internal pre-defined wordsets
        const: 4
      - title: MENTION_SPAM
        description: Check if content contains more unique mentions than allowed
        const: 5
      format: int32
    Int53Type:
      type: integer
      minimum: -9007199254740991
      maximum: 9007199254740991
      format: int64
    IntegrationExpireBehaviorTypes:
      type: integer
      oneOf:
      - title: REMOVE_ROLE
        description: Remove role
        const: 0
      - title: KICK
        description: Kick
        const: 1
      format: int32
    ApplicationCommandUserOptionResponse:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 6
          allOf:
          - $ref: '#/components/schemas/ApplicationCommandOptionType'
          format: int32
        name:
          type: string
        name_localized:
          type:
          - string
          - 'null'
        name_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        description:
          type: string
        description_localized:
          type:
          - string
          - 'null'
        description_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        required:
          type:
          - boolean
          - 'null'
      required:
      - type
      - name
      - description
    EntityMetadataStageInstanceResponse:
      type: object
      properties: {}
    ApplicationCommandAttachmentOptionResponse:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 11
          allOf:
          - $ref: '#/components/schemas/ApplicationCommandOptionType'
          format: int32
        name:
          type: string
        name_localized:
          type:
          - string
          - 'null'
        name_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        description:
          type: string
        description_localized:
          type:
          - string
          - 'null'
        description_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        required:
          type:
          - boolean
          - 'null'
      required:
      - type
      - name
      - description
    MLSpamTriggerMetadataResponse:
      type: object
      properties: {}
    ApplicationTypes:
      type: integer
      oneOf:
      - title: GUILD_ROLE_SUBSCRIPTIONS
        const: 4
      format: int32
    GuildAuditLogResponse:
      type: object
      properties:
        audit_log_entries:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogEntryResponse'
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserResponse'
        integrations:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/PartialDiscordIntegrationResponse'
            - $ref: '#/components/schemas/PartialExternalConnectionIntegrationResponse'
            - $ref: '#/components/schemas/PartialGuildSubscriptionIntegrationResponse'
        webhooks:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/ApplicationIncomingWebhookResponse'
            - $ref: '#/components/schemas/ChannelFollowerWebhookResponse'
            - $ref: '#/components/schemas/GuildIncomingWebhookResponse'
        guild_scheduled_events:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/ExternalScheduledEventResponse'
            - $ref: '#/components/schemas/StageScheduledEventResponse'
            - $ref: '#/components/schemas/VoiceScheduledEventResponse'
        threads:
          type: array
          items:
            $ref: '#/components/schemas/ThreadResponse'
        application_commands:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationCommandResponse'
        auto_moderation_rules:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/DefaultKeywordRuleResponse'
            - $ref: '#/components/schemas/KeywordRuleResponse'
            - $ref: '#/components/schemas/MLSpamRuleResponse'
            - $ref: '#/components/schemas/MentionSpamRuleResponse'
            - $ref: '#/components/schemas/SpamLinkRuleResponse'
            - type: 'null'
      required:
      - audit_log_entries
      - users
      - integrations
      - webhooks
      - guild_scheduled_events
      - threads
      - application_commands
      - auto_moderation_rules
    FlagToChannelActionResponse:
      type: object
      properties:
        type:
          type: integer
          enum:
          - 2
          allOf:
          - $ref: '#/components/schemas/AutomodActionType'
          format: int32
        metadata:
          $ref: '#/components/schemas/FlagToChannelActionMetadataResponse'
      required:
      - type
      - metadata
    SpamLinkRuleResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        guild_id:
          $ref: '#/components/schemas/SnowflakeType'
        creator_id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        event_type:
          $ref: '#/components/schemas/AutomodEventType'
        actions:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/BlockMessageActionResponse'
            - $ref: '#/components/schemas/FlagToChannelActionResponse'
            - $ref: '#/components/schemas/QuarantineUserActionResponse'
            - $ref: '#/components/schemas/UserCommunicationDisabledActionResponse'
        trigger_type:
          type: integer
          enum:
          - 2
          allOf:
          - $ref: '#/components/schemas/AutomodTriggerType'
          format: int32
        enabled:
          type:
          - boolean
          - 'null'
        exempt_roles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
        exempt_channels:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
        trigger_metadata:
          $ref: '#/components/schemas/SpamLinkTriggerMetadataResponse'
      required:
      - id
      - guild_id
      - creator_id
      - name
      - event_type
      - actions
      - trigger_type
      - trigger_metadata
    PrivateGuildMemberResponse:
      type: object
      properties:
        avatar:
          type:
          - string
          - 'null'
        avatar_decoration_data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserAvatarDecorationResponse'
        communication_disabled_until:
          type:
          - string
          - 'null'
          format: date-time
        flags:
          type: integer
          format: int32
        joined_at:
          type: string
          format: date-time
        nick:
          type:
          - string
          - 'null'
        pending:
          type: boolean
        premium_since:
          type:
          - string
          - 'null'
          format: date-time
        roles:
          type: array
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
        user:
          $ref: '#/components/schemas/UserResponse'
        mute:
          type: boolean
        deaf:
          type: boolean
        banner:
          type:
          - string
          - 'null'
      required:
      - flags
      - joined_at
      - pending
      - roles
      - user
      - mute
      - deaf
    UserGuildOnboardingResponse:
      type: object
      properties:
        guild_id:
          $ref: '#/components/schemas/SnowflakeType'
        prompts:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingPromptResponse'
        default_channel_ids:
          type: array
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
        enabled:
          type: boolean
      required:
      - guild_id
      - prompts
      - default_channel_ids
      - enabled
    DiscordIntegrationResponse:
      type: object
      properties:
        type:
          type: string
          enum:
          - discord
          allOf:
          - $ref: '#/components/schemas/IntegrationTypes'
        name:
          type:
          - string
          - 'null'
        account:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AccountResponse'
        enabled:
          type:
          - boolean
          - 'null'
        id:
          $ref: '#/components/schemas/SnowflakeType'
        application:
          $ref: '#/components/schemas/IntegrationApplicationResponse'
        scopes:
          type: array
          items:
            type: string
            enum:
            - applications.commands
            - bot
            - webhook.incoming
            allOf:
            - $ref: '#/components/schemas/OAuth2Scopes'
          uniqueItems: true
        user:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
      required:
      - type
      - id
      - application
      - scopes
    AuditLogEntryResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        action_type:
          $ref: '#/components/schemas/AuditLogActionTypes'
        user_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        target_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        changes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AuditLogObjectChangeResponse'
        options:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        reason:
          type:
          - string
          - 'null'
      required:
      - id
      - action_type
    DefaultKeywordListTriggerMetadata:
      type: object
      properties:
        allow_list:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
            maxLength: 60
          maxItems: 1000
        presets:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AutomodKeywordPresetType'
          uniqueItems: true
    ChannelFollowerWebhookResponse:
      type: object
      properties:
        application_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        avatar:
          type:
          - string
          - 'null'
        channel_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        guild_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        type:
          type: integer
          enum:
          - 2
          allOf:
          - $ref: '#/components/schemas/WebhookTypes'
          format: int32
        user:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        source_guild:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WebhookSourceGuildResponse'
        source_channel:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WebhookSourceChannelResponse'
      required:
      - id
      - name
      - type
    OnboardingPromptOptionRequest:
      type: object
      properties:
        id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        title:
          type: string
          minLength: 1
          maxLength: 50
        description:
          type:
          - string
          - 'null'
          maxLength: 100
        emoji_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        emoji_name:
          type:
          - string
          - 'null'
          maxLength: 100
        emoji_animated:
          type:
          - boolean
          - 'null'
        role_ids:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          maxItems: 50
          uniqueItems: true
        channel_ids:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          maxItems: 50
          uniqueItems: true
      required:
      - title
    IntegrationExpireGracePeriodTypes:
      type: integer
      oneOf:
      - title: ONE_DAY
        description: 1 day
        const: 1
      - title: THREE_DAYS
        description: 3 days
        const: 3
      - title: SEVEN_DAYS
        description: 7 days
        const: 7
      - title: FOURTEEN_DAYS
        description: 14 days
        const: 14
      - title: THIRTY_DAYS
        description: 30 days
        const: 30
      format: int32
    StickerFormatTypes:
      type: integer
      oneOf:
      - title: PNG
        const: 1
      - title: APNG
        const: 2
      - title: LOTTIE
        const: 3
      - title: GIF
        const: 4
      format: int32
    GuildSubscriptionIntegrationResponse:
      type: object
      properties:
        type:
          type: string
          enum:
          - guild_subscription
          allOf:
          - $ref: '#/components/schemas/IntegrationTypes'
        name:
          type:
          - string
          - 'null'
        account:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AccountResponse'
        enabled:
          type:
          - boolean
          - 'null'
        id:
          $ref: '#/components/schemas/SnowflakeType'
      required:
      - type
      - id
    Entitlement:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Snowflake'
        sku_id:
          $ref: '#/components/schemas/Snowflake'
        application_id:
          $ref: '#/components/schemas/Snowflake'
        user_id:
          $ref: '#/components/schemas/Snowflake'
        type:
          type: integer
        deleted:
          type: boolean
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        guild_id:
          $ref: '#/components/schemas/Snowflake'
    ChannelPermissionOverwriteRequest:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ChannelPermissionOverwrites'
        allow:
          type:
          - integer
          - 'null'
        deny:
          type:
          - integer
          - 'null'
      required:
      - id
    InviteApplicationResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        icon:
          type:
          - string
          - 'null'
        description:
          type: string
        type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ApplicationTypes'
        cover_image:
          type:
          - string
          - 'null'
        primary_sku_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        bot:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        slug:
          type:
          - string
          - 'null'
        guild_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        rpc_origins:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        bot_public:
          type:
          - boolean
          - 'null'
        bot_require_code_grant:
          type:
          - boolean
          - 'null'
        terms_of_service_url:
          type:
          - string
          - 'null'
          format: uri
        privacy_policy_url:
          type:
          - string
          - 'null'
          format: uri
        custom_install_url:
          type:
          - string
          - 'null'
          format: uri
        install_params:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ApplicationOAuth2InstallParamsResponse'
        verify_key:
          type: string
        flags:
          type: integer
          format: int32
        max_participants:
          type:
          - integer
          - 'null'
          format: int32
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
          uniqueItems: true
      required:
      - id
      - name
      - description
      - verify_key
      - flags
    WidgetMember:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        discriminator:
          $ref: '#/components/schemas/WidgetUserDiscriminator'
        avatar:
          type: 'null'
        status:
          type: string
        avatar_url:
          type: string
          format: uri
        activity:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/WidgetActivity'
        deaf:
          type:
          - boolean
          - 'null'
        mute:
          type:
          - boolean
          - 'null'
        self_deaf:
          type:
          - boolean
          - 'null'
        self_mute:
          type:
          - boolean
          - 'null'
        suppress:
          type:
          - boolean
          - 'null'
        channel_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
      required:
      - id
      - username
      - discriminator
      - status
      - avatar_url
    IconEmojiResponse:
      type: object
      properties: {}
    ApplicationCommandResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        application_id:
          $ref: '#/components/schemas/SnowflakeType'
        version:
          $ref: '#/components/schemas/SnowflakeType'
        default_member_permissions:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/ApplicationCommandType'
        name:
          type: string
        name_localized:
          type:
          - string
          - 'null'
        name_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        description:
          type: string
        description_localized:
          type:
          - string
          - 'null'
        description_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        guild_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        dm_permission:
          type:
          - boolean
          - 'null'
        options:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - $ref: '#/components/schemas/ApplicationCommandAttachmentOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandBooleanOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandChannelOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandIntegerOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandMentionableOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandNumberOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandRoleOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandStringOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandSubcommandGroupOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandSubcommandOptionResponse'
            - $ref: '#/components/schemas/ApplicationCommandUserOptionResponse'
        nsfw:
          type:
          - boolean
          - 'null'
      required:
      - id
      - application_id
      - version
      - type
      - name
      - description
    MentionSpamTriggerMetadata:
      type: object
      properties:
        mention_total_limit:
          type: integer
          minimum: 0
          maximum: 50
        mention_raid_protection_enabled:
          type:
          - boolean
          - 'null'
      required:
      - mention_total_limit
    SpamLinkTriggerMetadataResponse:
      type: object
      properties: {}
    ThreadMetadataResponse:
      type: object
      properties:
        archived:
          type: boolean
        archive_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        auto_archive_duration:
          $ref: '#/components/schemas/ThreadAutoArchiveDuration'
        locked:
          type: boolean
        create_timestamp:
          type:
          - string
          - 'null'
          format: date-time
        invitable:
          type:
          - boolean
          - 'null'
      required:
      - archived
      - auto_archive_duration
      - locked
    QuarantineUserActionMetadataResponse:
      type: object
      properties: {}
    GroupDMInviteResponse:
      type: object
      properties:
        type:
          oneOf:
          - type: 'null'
          - type: integer
            enum:
            - 1
            allOf:
            - $ref: '#/components/schemas/InviteTypes'
            format: int32
        code:
          type: string
        inviter:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        max_age:
          type:
          - integer
          - 'null'
          format: int32
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
        channel:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InviteChannelResponse'
        approximate_member_count:
          type:
          - integer
          - 'null'
          format: int32
      required:
      - code
    SnowflakeType:
      type: string
      pattern: ^(0|[1-9][0-9]*)$
      format: snowflake
    StickerTypes:
      type: integer
      oneOf:
      - title: STANDARD
        description: an official sticker in a pack, part of Nitro or in a removed purchasable pack
        const: 1
      - title: GUILD
        description: a sticker uploaded to a guild for the guild's members
        const: 2
      format: int32
    CreateGuildRequestRoleItem:
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
          maxLength: 100
        permissions:
          type:
          - integer
          - 'null'
        color:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 16777215
        hoist:
          type:
          - boolean
          - 'null'
        mentionable:
          type:
          - boolean
          - 'null'
        unicode_emoji:
          type:
          - string
          - 'null'
          maxLength: 100
      required:
      - id
    KeywordRuleResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        guild_id:
          $ref: '#/components/schemas/SnowflakeType'
        creator_id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        event_type:
          $ref: '#/components/schemas/AutomodEventType'
        actions:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/BlockMessageActionResponse'
            - $ref: '#/components/schemas/FlagToChannelActionResponse'
            - $ref: '#/components/schemas/QuarantineUserActionResponse'
            - $ref: '#/components/schemas/UserCommunicationDisabledActionResponse'
        trigger_type:
          type: integer
          enum:
          - 1
          allOf:
          - $ref: '#/components/schemas/AutomodTriggerType'
          format: int32
        enabled:
          type:
          - boolean
          - 'null'
        exempt_roles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
        exempt_channels:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          uniqueItems: true
        trigger_metadata:
          $ref: '#/components/schemas/KeywordTriggerMetadataResponse'
      required:
      - id
      - guild_id
      - creator_id
      - name
      - event_type
      - actions
      - trigger_type
      - trigger_metadata
    VanityURLErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
      required:
      - message
      - code
    ApplicationCommandOptionStringChoiceResponse:
      type: object
      properties:
        name:
          type: string
        name_localized:
          type:
          - string
          - 'null'
        name_localizations:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        value:
          type: string
      required:
      - name
      - value
    MentionSpamUpsertRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        event_type:
          $ref: '#/components/schemas/AutomodEventType'
        actions:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - $ref: '#/components/schemas/BlockMessageAction'
            - $ref: '#/components/schemas/FlagToChannelAction'
            - $ref: '#/components/schemas/QuarantineUserAction'
            - $ref: '#/components/schemas/UserCommunicationDisabledAction'
          minItems: 1
          maxItems: 5
        enabled:
          type:
          - boolean
          - 'null'
        exempt_roles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          maxItems: 20
          uniqueItems: true
        exempt_channels:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SnowflakeType'
          maxItems: 50
          uniqueItems: true
        trigger_type:
          type: integer
          enum:
          - 5
          allOf:
          - $ref: '#/components/schemas/AutomodTriggerType'
          format: int32
        trigger_metadata:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MentionSpamTriggerMetadata'
      required:
      - name
      - event_type
      - trigger_type
    VoiceRegionResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        custom:
          type: boolean
        deprecated:
          type: boolean
        optimal:
          type: boolean
      required:
      - id
      - name
      - custom
      - deprecated
      - optimal
    EmojiResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        user:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/SnowflakeType'
        require_colons:
          type: boolean
        managed:
          type: boolean
        animated:
          type: boolean
        available:
          type: boolean
      required:
      - id
      - name
      - roles
      - require_colons
      - managed
      - animated
      - available
    ExternalScheduledEventResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        guild_id:
          $ref: '#/components/schemas/SnowflakeType'
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        channel_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        creator_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        creator:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserResponse'
        image:
          type:
          - string
          - 'null'
        scheduled_start_time:
          type: string
          format: date-time
        scheduled_end_time:
          type:
          - string
          - 'null'
          format: date-time
        status:
          $ref: '#/components/schemas/GuildScheduledEventStatuses'
        entity_type:
          type: integer
          enum:
          - 3
          allOf:
          - $ref: '#/components/schemas/GuildScheduledEventEntityTypes'
          format: int32
        entity_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        user_count:
          type:
          - integer
          - 'null'
          format: int32
        privacy_level:
          $ref: '#/components/schemas/GuildScheduledEventPrivacyLevels'
        user_rsvp:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ScheduledEventUserResponse'
        entity_metadata:
          $ref: '#/components/schemas/EntityMetadataExternalResponse'
      required:
      - id
      - guild_id
      - name
      - scheduled_start_time
      - status
      - entity_type
      - privacy_level
      - entity_metadata
    OnboardingPromptResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/SnowflakeType'
        title:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingPromptOptionResponse'
        single_select:
          type: boolean
        required:
          type: boolean
        in_onboarding:
          type: boolean
        type:
          $ref: '#/components/schemas/OnboardingPromptType'
      required:
      - id
      - title
      - options
      - single_select
      - required
      - in_onboarding
      - type
    Error:
      type: object
      description: A single error, either for an API response or a specific field.
      properties:
        code:
          type: integer
          description: Discord internal error code. See error code reference
        message:
          type: string
          description: Human-readable error message
      required:
      - code
      - message
    StageScheduledEventCreateRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 1000
        image:
          type:
          - string
          - 'null'
          contentEncoding: base64
        scheduled_start_time:
          type: string
          format: date-time
        scheduled_end_time:
          type:
          - string
          - 'null'
          format: date-time
        privacy_level:
          $ref: '#/components/schemas/GuildScheduledEventPrivacyLevels'
        entity_type:
          type: integer
          enum:
          - 1
          allOf:
          - $ref: '#/components/schemas/GuildScheduledEventEntityTypes'
          format: int32
        channel_id:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnowflakeType'
        entity_metadata:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EntityMetadataStageInstance'
      required:
      - name
      - scheduled_start_time
      - privacy_level
      - entity_type
    GuildPruneResponse:
      type: object
      properties:
        pruned:
          type:
          - integer
          - 'null'
          format: int32
    QuarantineUserActionMetadata:
      type: object
      properties: {}
    WelcomeScreenPatchRequestPartial:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
          maxLength: 140
        welcome_channels:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GuildWelcomeChannel'
          maxItems: 5
        enabled:
          type:
          - boolean
          - 'null'
    GuildCreateRequest:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 120
        name:
          type: string
          minLength: 2
          maxLength: 100
        region:
          type:
          - string
          - 'null'
        icon:
          type:
          - string
          - 'null'
          contentEncoding: base64
        verification_level:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/VerificationLevels'
        default_message_notifications:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/UserNotificationSettings'
        explicit_content_filter:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/GuildExplicitContentFilterTypes'
        preferred_locale:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AvailableLocalesEnum'
        afk_timeout:
[...]
